.not-found-page {
}

.not-found-page .site-header {
	margin-bottom: 0;
}

.not-found-page [role='banner'] > a {
	margin-right: auto;
	margin-left: auto;
}

.not-found-page article {
	@include aspect-ratio(3 x 1.5);

	max-width: none;

	padding-top: $line-height * 2em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;

	background-image: image('404--320w.jpg');
	background-position: 50% 50%;
	background-size: cover;

	@include media('>=480px') {
		background-image: image('404--480w.jpg');
	}

	@include media('>=640px') {
		background-image: image('404--640w.jpg');
	}

	@include media('>=768px') {
		background-image: image('404--768w.jpg');
	}

	@include media('>=1024px') {
		background-image: image('404--1024w.jpg');
	}

	@include media('>=1280px') {
		background-image: image('404--1280w.jpg');
	}

	@include media('>=1600px') {
		background-image: image('404--1600w.jpg');
	}
}

.not-found-page h1 {
	@include visually-hidden;
}

.not-found-page p {
	@include visually-hidden;

	max-width: $max-width;

	margin-right: auto;
	margin-left: auto;

	text-align: center;

	background-color: palette('white');
}
