// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home main {
	padding-top: 0;
	margin-top: 0;
}

.home .map-container {
	margin-bottom: span(1);
}
