.disclaimer cite {
	display: block;
	margin-bottom: 1.5em;
	text-align: right;
}

.download-files .download-files__form {
	display: flex;

	.download-files__table {
		width: 100%;
	}

	select {
		width: 100%;
		box-sizing: border-box;
	}

}

.download-files .download-files__download-area {
	overflow: hidden;
}

.download-files .download-files__button {
	float: right;
	padding: 0.4em 0.8em;
	text-decoration: none;
	color: palette('white');
	background-color: palette('orange', 'light');
	border: 1px solid palette('orange');
}

.download-files__information-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 2em auto;

	> div {
		flex-grow: 1;
		margin-bottom: 2em;

		@include media('>tablet') {
			width: 25%;
		}
	}
}

.api-examples__example {
	width: 100%;
	max-width: span(11 'wider');
	margin-bottom: 3em;

	pre {
		max-width: 100%;
		max-height: 60em;
	}
}


