.regions-page,
.subprefectures-page {
}

.regions__list,
.subprefectures__list {
	@include media('>=4col') {
		column-gap: gutter();

		columns: 2;
	}
	@include media('>=6col') {
		columns: 3;
	}
	@include media('>=10col') {
		columns: 4;
	}
}

.regions__list li,
.subprefectures__list li {
	@include fallback('margin-bottom', $line-height * 1rem);

	break-inside: avoid-column; /* IE 11 */
	page-break-inside: avoid; /* Theoretically FF 20+ */
}

.regions__list small,
.subprefectures__list small {
	display: block;
}

.regions__list a,
.subprefectures__list a {
	&:link {
		text-decoration: none;
	}
}

.districts-comparison__field-wrapper {
	white-space: normal;

	@include media('<toggle-table-layout') {
		display: block;

		margin-bottom: $line-height * 1em;
	}
}
