.regions-page,
.subprefectures-page {
}

.regions__list,
.subprefectures__list {
	@include media('>=4col') {
		column-gap: gutter();

		columns: 2;
	}
	@include media('>=6col') {
		columns: 3;
	}
	@include media('>=10col') {
		columns: 4;
	}
}

.regions__list li,
.subprefectures__list li {
	@include fallback('margin-bottom', $line-height * 1rem);

	break-inside: avoid-column; /* IE 11 */
	page-break-inside: avoid; /* Theoretically FF 20+ */
}

.regions__list small,
.subprefectures__list small {
	display: block;
}

.regions__list a,
.subprefectures__list a {
	&:link {
		text-decoration: none;
	}
}

.districts-comparison__field-wrapper {
	white-space: normal;

	@include media('<toggle-table-layout') {
		display: block;

		margin-bottom: $line-height * 1em;
	}
}

.districts-comparison__table {
	animation: highlight 0.8s ease-out;
}

.districts-comparison__year {
	font-style: italic;

	&::before {
		display: block;

		content: '';
	}
}

%tooltip-parent {
	position: relative;

	font-style: italic;

	white-space: nowrap;

	cursor: help;

	border-bottom: 1px dotted;

	&:focus {
		outline: 0;
	}

	@supports (text-decoration: dotted underline) {
		text-decoration: dotted underline;

		border-bottom: 0;
	}
}

.districts-comparison__source,
.districts-comparison__indicator small {
	@extend %tooltip-parent;
}

.districts-comparison__indicator small {
	display: table;
}

.districts-comparison__indicator > small > span,
.districts-comparison__source > span {
	@extend %custom-tooltip; // sass-lint:disable-line placeholder-in-extend

	position: absolute;
	bottom: $line-height * 1em;
	left: 50%;

	display: none;

	width: span(3);
	min-width: span(2);

	font-style: normal;
	font-weight: normal;

	text-decoration: none;
	white-space: normal;

	border-bottom: inherit;

	transform: translateX(-50%);

}

.districts-comparison__indicator > small > span {
	right: auto;
	left: 1em;

	transform: none;

	&::after {
		right: auto;
		left: $line-height * 1em + 1em;
	}
}

.districts-comparison__source > span {
	max-width: span(3);

	@include media('<max-width') {
		right: 0;
		left: auto;

		transform: none;

		&::after {
			right: 0;
			left: auto;
		}
	}
}

.districts-comparison__indicator > small:focus > span,
.districts-comparison__indicator > small:hover > span,
.districts-comparison__source:focus > span,
.districts-comparison__source:hover > span {
	display: block;
}
