{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/topic.json" as="fetch" type="application/json">
` }}{{ $.Scratch.Add "rootClass" "topics-page" }}{{ partial "header.html" . }}
<article id="conteudo" role="main">
	{{ $topics := getJSON "./static/dist/data/topic.json" }}

	<header>

		<h1>
			{{ i18n "topic" (len $topics.topics) }}
		</h1>

		{{ with .Content }}
			<section>
				{{ . }}
			</section>
		{{ end }}

	</header>


	{{ with $topics.topics }}
		<section class="topics">
			<ul class="topics__list">
				{{ range sort . "name" "asc" }}

					<li id="topic-{{ .id }}" class="topic__item">
						<a href="/eixos/{{ .slug }}">
							{{ .name | humanize }}
						</a>
					</li>

				{{ end }}
			</ul>
		</section>
	{{ end }}

</article>

{{ partialCached "footer.html" . }}
