{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/assets/data/action_lines.json" as="fetch" type="application/json">
` }}{{ $.Scratch.Add "rootClass" "action-lines-page" }}{{ partial "header.html" . }}

{{ $action_lines := getJSON "./static/assets/data/action_lines.json" }}

<article id="conteudo" class="h-entry" role="main">
	<header>
		<h1>
			{{ i18n "actionLine" (len $action_lines.action_lines) }}
		</h1>
	</header>

	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}

	{{ with $action_lines.action_lines }}
		<section class="action-lines">
			<p>{{ i18n "displaying" }} <b id="js-filterable__counter">{{ len . }}</b> {{ i18n "of" | lower }} <b>{{ len . }}</b> {{ i18n "actionLine" (len $action_lines.action_lines) | lower }}.</p>

			{{ partialCached "filterForm.html" . }}

			<dl class="action-lines__list">
				{{ range . }}
					{{ with .slug }}
						<a href="/linhas-de-acao/{{ . }}">
					{{ end }}
					<div
						{{ with .topic }}
							data-topic="{{lower .name }}"
						{{ end }}
						{{ with .secretariat }}
							data-secretariat="{{lower . }}"
						{{ end }}
						data-badge="{{ range .badges }} {{- lower .name }} {{ end }}"
						class="definition-item action-lines__list-item js-filterable__item filterable__item">
						<dt class="action-lines__item-id">
							{{ .id }}
						</dt>
						<dd class="action-lines__item-title">
							<p>{{ .title | markdownify }}</p>
						</dd>
					</div>
					{{ with .slug }}
						</a>
					{{ end }}
				{{ end }}
			</dl>
		</section>
	{{ end }}
</article>

{{ partialCached "footer.html" . }}
