{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/action_lines.json" as="fetch" type="application/json">
` }}{{ partial "header.html" . }}
<main id="conteudo" class="h-entry">

	<header>
		<h1>
			{{ i18n "actionLinesSentenceCase" }}
		</h1>
	</header>

	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}

	{{ $action_lines := getJSON "./static/dist/data/action_lines.json" }}

	{{ with $action_lines.action_lines }}
		<section class="action-lines">
			<p><b>{{ len . }}</b> {{ i18n "actionLinesSentenceCase" | lower }}.</p>
			<dl class="action-lines__list">
				{{ range sort . "name" "asc" }}
					<div class="definition-item action-lines__list-item">
						<dt class="action-lines__item-id">
							{{ with .slug }}
								<a href="/linhas-de-acao/{{ . }}">
							{{ end }}
								{{ .id }}
							{{ with .slug }}
								</a>
							{{ end }}
						</dt>
						<dd class="action-lines__item-title">
							{{ .title }}
						</dd>
					</div>
				{{ end }}
			</dl>
		</section>
	{{ end }}
</main>

{{ partial "footer.html" . }}
