{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/action_lines.json" as="fetch" type="application/json">
` }}{{ partial "header.html" . }}
<main id="conteudo" class="h-entry">



	<header>

		<h1>
			{{ i18n "actionLinesSentenceCase" }}
		</h1>

	</header>


	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}


	{{ $action_lines := getJSON "./static/dist/data/action_lines.json" }}

	{{ with $action_lines.action_lines }}

		<section>
			<p><b>{{ len . }}</b> {{ i18n "actionLinesSentenceCase" }}.</p>

				{{ range sort . "name" "asc" }}


						<ul id="action_lines{{ .id }}">
							<li>

							<a href="/linhas-de-acao/{{ .slug }}">
							{{ .title }}
							</a>

							</li>

						</ul>


				{{ end }}
			</table>
		</section>
	{{ end }}

	<div id="map"></div>

</main>

{{ partial "footer.html" . }}
