{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/action-line/" .Params.id ) }}

{{ $action_line := getJSON $url }}

{{ with $action_line.action_line }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "actionLine" 1 }}
				{{ .id }}
			</h2>

			<h1 class="h-entry__p-name p-name">{{ trim .title "." }}</h1>
		</header>

		{{ with .indicator_description }}
			<section class="description">
				<p>{{ . }}</p>
			</section>
		{{ end }}

		{{ with .indicators }}
			<section class="indicators">
				<h2>{{ i18n "indicator" 1 }}</h2>
				<p>{{ . }}</p>
			</section>
		{{ end }}

		<section class="map-container">
			<h2>{{ i18n "regionalizationMap" }}</h2>
			{{ if not .subprefectures }}
				<p class="warning">{{ i18n "dataNotRestrictedToARegion" }}</p>
			{{ end }}
			<div id="map" class="map"
				{{ if .subprefectures }}
					data-link-for="subprefectures" data-info-panel-for="subprefectures" data-info-panel-for-subprefectures="info-panel__subprefectures--indicator" data-to-draw="subprefectures" data-subprefectures-to-draw="{{ range .subprefectures }}{{ .id }} {{ end }}"
					data-subprefectures-distribute-by="indicator"
				{{ else }}
					data-to-draw="cities"
				{{ end }}
			></div>
		</section>

		{{ if .subprefectures }}
			<section class="projection">
				<h2>{{ i18n "regionalization" }}</h2>

				<section class="regionalization-progress">
					<header>
						<h2>Prefeituras Regionais</h2>
						<h2>Projeção</h2>
						<h2>Progresso</h2>
						<h2 class="regionalization-progress__years-header">2017 - 2020</h2>
					</header>
					<details>
						<summary>
							<span title="Prefeituras Regionais" class="regionalization-progress__region">Tatuapé</span>
							<span title="Projeção" class="regionalization-progress__projection"><i>4</i></span>
							<div title="Progresso" class="regionalization-progress__progress">
								<progress
									value="80"
									max="100">
									<div>
										<span style="width: 80%;"></span>
									</div>
								</progress>
								80%
							</div>
						</summary>
						<table>
							<thead>
								<tr class="regionalization-progress__years">
									<th colspan="2" scope="colgroup">2017</th>
									<th colspan="2" scope="colgroup">2018</th>
									<th colspan="2" scope="colgroup">2019</th>
									<th colspan="2" scope="colgroup">2020</th>
								</tr>
								<tr>
									<th scope="col">1º Sem.</th>
									<th scope="col">2º Sem.</th>
									<th scope="col">1º Sem.</th>
									<th scope="col">2º Sem.</th>
									<th scope="col">1º Sem.</th>
									<th scope="col">2º Sem.</th>
									<th scope="col">1º Sem.</th>
									<th scope="col">2º Sem.</th>
								</tr>
							</thead>
							<tr>
								<td title="1º Sem. 2017">01</td>
								<td title="2º Sem. 2017">01</td>
								<td title="1º Sem. 2018">-</td>
								<td title="2º Sem. 2018">-</td>
								<td title="1º Sem. 2019">02</td>
								<td title="2º Sem. 2019">01</td>
								<td title="1º Sem. 2020">01</td>
								<td title="2º Sem. 2020">01</td>
							</tr>
						</table>
						</table>
					</details>
				</section>

				<table>
					<thead>
						<tr>
							<th>{{ i18n "regionalPrefecture" (len .) | title }}</th>
							<th>{{ i18n "value" | title }} 2017-2020</th>
						</tr>
					</thead>

					<tbody>
						{{ range .subprefectures }}
							{{ if ne .indicator "0" }}
								<tr>
									<th>
										{{ with .slug }}
											<a href="/prefeituras-regionais/{{ . }}">
										{{ end }}
											{{ .name }}
										{{ with .slug }}
											</a>
										{{ end }}
									</th>

									<td>
										{{ .indicator }}
									</td>
								</tr>
							{{ end }}
						{{ end }}
					</tbody>
				</table>
				<script>
					var customDistribution = customDistribution || {};

					customDistribution.indicator = {
						{{ range .subprefectures }}
							{{ .id }}: "{{ .indicator }}",
						{{ end }}
					};
				</script>

				<script type="text/template" id="info-panel__subprefectures--indicator">
					<dl>
						<dt>{{ i18n "regionalPrefecture" 1 }}</dt>
						<dd data-to-bind="name">&mdash;</dd>
						<dt>{{ i18n "indicator"  }}</dt>
						<dd class="custom-info-panel__counter" data-to-bind="indicator">0</dd>
					</dl>
				</script>

			</section>
		{{ end }}
	</div>

	<aside>
		{{ with .last_updated_at }}
		<h2>
			{{ i18n "lastUpdatedAt" }}:
			<br>
			{{ dateFormat "02/01/2006" . }}
		</h2>
		{{ end }}

		{{ with .status }}
			<h2>{{ i18n "textStatus" }}: {{ . }}</h2>
		{{ end }}

		<section class="secretaries">
			<h2>{{ i18n "secretary" (len $action_line.action_line) }}</h2>
			<ul class="district-list">
				{{ range .action_lines }}
					<li>
						{{ with .slug }}
							<a href="/linhas-de-acao/{{ . }}">
						{{ end }}
							{{ .name }}
						{{ with .slug }}
							</a>
						{{ end }}
					</li>
				{{ end }}
			</ul>
		</section>

		<section class="progress">

			<p>{{ i18n "textProgress" }}</p>

			<progress {{ with .progress }}value="{{ . }}"{{ end }} max="100">
				<div class="progress-bar">
					<span {{ with .progress }} style="width: {{ . }}%;" {{ end }}>
						{{ with .progress }}{{ . }}%{{ end }}
					</span>
				</div>
			</progress>
		</section>

		{{ with .project }}
			<section class="related-projects">
				<h2>{{ i18n "relatedProject" 1 }}</h2>
				<dl>
					<dt>
						{{ with .slug }}
							<a href="/projetos/{{ . }}">
						{{ end }}
							{{ .title }}
						{{ with .slug }}
							</a>
						{{ end }}
					</dt>
					<dd>{{ .description }}</dd>
				</dl>
			</section>
			{{ end }}

	</aside>

</article>

{{ end }}

{{ partialCached "footer.html" . }}
