.faq.h-entry {
	@include fallback('max-width', $max-width / 1em * 1rem);

	padding-right: gutter();
	padding-left: gutter();
}

.faq.h-entry > details {
}

@include media ('>=10col') {
	.faq.h-entry {
		@include inline-block-wrapper;

		padding-right: gutter() / 2em * 1rem;
		padding-left: gutter() / 2em * 1rem;
	}

	.faq.h-entry > details {
		@include inline-block-item;

		width: 50%;

		padding-right: gutter() / 2;
		padding-left: gutter() / 2;
		margin-top: 0;
		margin-bottom: span(1);
	}
}
