// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer {
	padding: (gutter(1) / 1em * 1rem) 0;
	margin: 0;

	color: palette('white');

	background-color: palette('brown');

	box-shadow: 0 16px 24px palette('shadow') inset;
}

/**
 * A large perceivable region that contains information about the parent document.
 *
 * Examples of information included in this region of the page are copyrights and links to privacy statements.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `contentinfo` role.
 */
[role='contentinfo'] {
	width: 100%;
	max-width: $max-width;

	padding: gutter();
	margin: 0 auto;

	@include media('>=6col') {
		@include table-layout-wrapper {
			padding-right: 0;
			padding-left: 0;

			border-spacing: gutter();

			table-layout: fixed;
			border-collapse: separate;
		}
	}
}

.contentinfo__colophon {
	@include fallback('padding-top', $line-height * 1rem);
	@include fallback('padding-bottom', $line-height * 1rem);

	font-size: ms(-1);

	@include media('>=6col') {
		@include fallback('padding-top', $line-height * 3rem);
	}
}

[role='contentinfo'] > div {
	@include media('>=6col') {
		@include table-layout-item;
	}

	.grid & {
		outline: 1px solid palette('gray');
	}
}

[role='contentinfo'] h5 {
	margin: 0 0 $line-height * 1rem;

	font-size: ms(-1);

	color: inherit;
}

[role='contentinfo'] ul {
	@include inline-block-wrapper;
}

[role='contentinfo'] li {
	@include inline-block-item;
}

[role='contentinfo'] img {
	background-color: transparent;
}


.contentinfo__colophon p {
	margin-bottom: $line-height * 1em;
}

.contentinfo__colophon a {
	@include image-replacement;

	display: block;

	width: 100%;
	height: 2em;
	min-height: 28px;

	margin-top: $line-height * 0.5em;

	background-image: image('logo-appcivico.png');
}




