/* feed
* @see http://microformats.org/wiki/h-feed
*/
.h-feed {
	max-width: $max-width;

	padding-right: gutter();
	padding-left: gutter();
	margin: 0 auto;
}

.h-feed > section {
}

.h-feed__p-name {
}

.h-feed__p-summary {
	margin-bottom: span(1);
}

.h-feed__p-author {
}

.h-feed__p-author.h-card {
}

.h-feed__u-url {
}

.h-feed__u-photo {
}

.h-feed__h-entry {
	padding: 0;

	border-bottom: 1px solid palette('border');
}

.h-feed__h-entry .p-name {
	@include fallback('line-height', $line-height * 1rem);

	@include media('>=desktop') {
		margin: 0;
	}

	font-size: ms(2);
}

.h-feed__h-entry aside {
	position: relative;

	@include media('>=6col') {
		@include fallback('padding-top', $line-height * 1rem);
	}
}

.h-feed__h-entry aside h3 {
	@include media('>=6col') {
		position: absolute;
		top: $line-height * -3rem;

		.h-entry + & {
			display: none;
		}
	}
}
