// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */
[role='banner'] {
}

.main-menu {
	max-width: span(10);

	margin: 0 auto;

	@include media('<desktop') {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;

		width: 0;

		margin: 0;

		overflow: hidden;

		.menu-controller:checked ~ * & {
			width: span(2);

			overflow-y: auto;
		}
	}

	@include media ('>=10col') {
		position: relative;
		top: $line-height * 1em;

		z-index: layer('default');

		margin-left: 50%;
	}
}


.main-menu > ul {
	@include clearfix;

	max-width: span(12);

	margin: 0 0 0 (span(2 'wide') * -1);

	background-color: palette('white');

	outline: 1px solid;

	@include media('<desktop') {
		display: block;

		margin: 0;
	}
}


.main-menu > ul > li {
	float: left;

	font-size: ms(-1);

	@include media('<desktop') {
		float: none;

		display: block;
	}
}


[for='menu-controller'] {
	&::before {
		font-weight: bold;
		font-family: sans-serif;

		content: '\20\2261\20';

		.menu-controller:checked ~ * & {
			content: '\20\d7\20';
		}
	}
}
