// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */

.site-header {
	position: relative;

	z-index: layer('default');

	min-height: 144px;

	padding-top: gutter();

	background-image: image('photo_2017-12-06_10-20-11__first-plan.jpg');
	background-position: -110% 23px;
	background-repeat: repeat-x;
	background-color: palette('white');

	box-shadow: 0 16px 24px palette('shadow');

	@include media('>=480px') {
		background-image: image('photo_2017-12-06_10-20-11__first-plan.jpg'), image('photo_2017-12-06_10-20-11__last-plan.jpg');
		background-position: 35% 100%, 75% 100%;
		background-repeat: no-repeat, repeat-x;
	}

	@include media('>=desktop') {
		background-image: image('photo_2017-12-06_10-20-11.jpg');
		background-position: center top;
		background-repeat: repeat-x;
	}
}

[role='banner'] {
	position: relative;

	height: span(2);
	max-width: $max-width;

	padding-top: (gutter() / 2);
	padding-bottom: (gutter() / 2);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

	@include media('>=480px') {
		height: span(3);
	}

	@include media('>=desktop') {
		height: span(2);
	}

	@include media('>=12col') {
		margin-bottom: (gutter() * -2);
	}

	@supports (transform: translate(0, 0)) and (transform: scale(1, 1)) {
		&::before,
		&::after {
			@include image-replacement;

			position: absolute;
			left: 50%;

			display: block;
			z-index: #{layer('dropdown') - 1};

			width: 70px; //sass-lint:disable-line property-units

			margin-left: -120px;

			background-image: image('logo.png');

			@include media('>=12col') {
				html:not(.not-found-page) & {
					left: 0;
					margin-left: 48px;
				}
			}
		}

		&::before {
			top: 15px;

			height: 80px; //sass-lint:disable-line property-units

			background-position: left top;

			content: 'logo';

			animation: 1s ease-in 0s drop, 3s ease-in-out 11s infinite ping;
		}

		&::after {
			top: 92px;

			height: 12px; //sass-lint:disable-line property-units

			background-position: left bottom;

			content: 'shadow';

			animation: 1s ease-in 0s shadow-on-drop, 3s ease-in-out 11s infinite shadow-on-ping;
		}

		@keyframes drop {
			0% {
				transform: translate(0, -200%);
			}

			75% {
				transform: translate(0, 5%);
			}

			100% {
				transform: translate(0);
			}
		}

		@keyframes shadow-on-drop {
			0% {
				opacity: 0;
				transform: scale(2);
			}

			75% {
				opacity: 1;
				transform: scale(0.75);
			}

			100% {
				opacity: 1;
				transform: scale(1);
			}
		}

		@keyframes ping {
			0% {
				transform: translate(0, 0%);
			}

			5% {
				transform: translate(0, 5%);
			}

			10% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(0, 0);
			}
		}

		@keyframes shadow-on-ping {
			0% {
				transform: scale(1);
			}

			5% {
				transform: scale(0.75);
			}

			10% {
				transform: scale(1);
			}

			100% {
				transform: scale(1);
			}
		}
	}
}

[role='banner'] > a {
	@include image-replacement;

	display: block;

	width: span(3 'wider');
	height: span(1 'wide');

	margin-right: auto;
	margin-left: auto;

	background-image: image('logo.png');
	background-position: center center;

	@include media('>=12col') {
		margin-left: (gutter() / 2);
	}

	@supports (transform: translate(0, 0)) and (transform: scale(1, 1)) {
		position: relative;

		overflow: hidden;

		&::after {
			position: absolute;
			top: 0;
			left: 50%;

			width: 70px; //sass-lint:disable-line property-units
			height: 100%;

			margin-left: -120px;

			background-color: palette('white');

			content: '';
		}
	}
}
