/* TABLES
============================================================================ */
table,
thead,
tbody,
tfoot,
tr,
th,
td {
	width: auto;
	height: auto;

	font-size: 1em;

	vertical-align: top;

	background: transparent;

	border: 0;

	@include media('<toggle-table-layout') {
		display: block;
	}
}

table {
	@include fallback('margin', 0 0 1.5em 0);/* line-height */

	width: 100%;
	max-width: 100%;

	font-size: 100%;
	font-family: inherit;

	border-collapse: collapse;
	empty-cells: show;
}

table p,
table li {
	font-size: 1em;
}

caption {
}

tr {
	@include media('<toggle-table-layout') {
		@include fallback('margin', 0 0 1.5rem);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

th {
	font-weight: bold;

	color: palette('brown', 'light');

	@include media('<toggle-table-layout') {
		border-bottom: $stroke solid palette('orange', 'x-light');
	}
}

thead th,
thead td {
	text-align: right;
	vertical-align: bottom;

	border-bottom: $stroke solid palette('border');

	@include media('<toggle-table-layout') {
		display: none;
	}
}

thead th:first-child,
tfoot th:first-child {
	text-align: left;
}

thead > tr:nth-last-of-type(odd) > th,
thead > tr:nth-last-of-type(odd) > td {
}

td {
	font-family: inherit;

	@include media('<toggle-table-layout') {
		&:empty {
			display: none;
		}
	}
}

tbody td {
	text-align: right;

	@include media('<toggle-table-layout') {
		text-align: left;

		&[title] {
			text-align: right;

			&::before {
				float: left;

				font-style: italic;

				content: attr(title)': ';
			}
		}
	}

	font-variant-numeric: lining-nums oldstyle-nums;
}

tbody th {
	text-align: left;
}

td img {
	vertical-align: top;
}

tbody tr:nth-of-type(even) > th,
tbody tr:nth-of-type(even) > td {
	background-color: palette('gray', 'x-light');

	@include media('<toggle-table-layout') {
		background-color: transparent;
	}
}

tfoot th,
tfoot td {
	vertical-align: top;
}
