/* TABLES
============================================================================ */
table,
tr,
th,
td {
	width: auto;
	height: auto;

	font-size: 1em;

	vertical-align: top;

	background: transparent;

	border: 0;
}

table {
	@include fallback('margin', 0 0 1.5em 0);/* line-height */

	width: 100%;
	max-width: 100%;

	font-size: 100%;
	font-family: inherit;

	border-collapse: collapse;
	empty-cells: show;
}

table p,
table li {
	font-size: 1em;
}

caption {
}

th {
	font-weight: bold;
}

thead th,
thead td {
	text-align: right;
	vertical-align: bottom;

	border-bottom: $stroke solid palette('border');
}

thead th:first-child,
tfoot th:first-child {
	text-align: left;
}

thead > tr:nth-last-of-type(odd) > th,
thead > tr:nth-last-of-type(odd) > td {
}

tbody td {
	text-align: right;

	font-variant-numeric: lining-nums oldstyle-nums;
}

tbody th {
	text-align: left;
}

td {
	font-family: inherit;
}

td img {
	vertical-align: top;
}

tbody tr:nth-of-type(even) > th,
tbody tr:nth-of-type(even) > td {
	background-color: palette('gray', 'x-light');
}

tfoot th,
tfoot td {
	vertical-align: top;
}
