.action-lines {
}

.action-lines__list {
	display: table;

	width: 100%;
	max-width: 44em;
}

.action-lines__list-item {
	display: table-row;
}

.action-lines__item-id,
.action-lines__item-title {
	display: table-cell;

	vertical-align: middle;
}

.action-lines__item-id {
	font-size: ms(2);

	color: palette('gray');

	border-bottom: 0;
}
