.action-lines {
}

.action-lines__list {
	@include media('>=columnize') {
		@include inline-block-wrapper;

		padding-right: gutter() / 2em * 1rem;
		padding-left: gutter() / 2em * 1rem;
		margin-right: gutter() / 1em * -1rem;
		margin-left: gutter() / 1em * -1rem;
	}
}

.action-lines__list > a {
	@include link-undercover;

	overflow: hidden;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.action-lines__list-item {
	@include clearfix;

	margin-bottom: $line-height * 1em;

	@include media('>=columnize') {
		@include inline-block-item;

		width: 50%;

		padding-right: gutter() / 2em * 1rem;
		padding-left: gutter() / 2em * 1rem;

		&.filterable__item {
			display: inline-block;
		}
	}
}

.action-lines__item-id {
	float: left;

	width: span(1) / 1em * 1rem;

	font-size: ms(2);

	color: palette('gray');

	border-bottom: 0;
}

.action-lines__item-title {
	margin-left: span(1 'wide');
}
