.badges {
	float: none;
	margin-bottom: 0;
	text-align: center;

	@media(min-width: #{map-get($breakpoints, 'tablet')}) {
		float: right;
		text-align: right;
	}

	img {
		max-width: 6em;
		border-radius: 50%;
	}
}
