.filterable__form {
	// max-width: span(2) / 1em * 1rem;
	margin-left: 0;
}

.filterable__form label {
	@include media('>=11col') {
		float: left;
		max-width: 20em;
		margin-left: 3em;

		&:first-child {
			margin-left: 0;
		}
	}
}

.filterable__field {
	width: 100%;
	white-space: nowrap;
	box-sizing: border-box;
}

.filterable__counter {
}

.filterable__item {
	display: block;

	max-height: $line-height * 20em;

	opacity: 1;

	transition-duration: 1s;
	transition-property: color, margin-top, margin-bottom, padding-top, padding-bottom, max-height, opacity;

	&[hidden] {
		// sass-lint:disable-block no-important
		max-height: 0 !important;

		padding-top: 0 !important;
		padding-bottom: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		overflow-x: visible !important;
		overflow-y: hidden !important;

		color: palette('disabled', 'foreground') !important;

		border: 0 !important;

		opacity: 0 !important;

		transition-duration: 1s !important;
		transition-property: color, margin-bottom, max-height, opacity !important;

		&.action-lines__list-item,
		.h-feed & {
			display: none;
		}

		& * {
			color: inherit !important;
		}
	}
}

.filterable__form input[type='reset'] {
	float: right;
	margin-top: 1.3em;
	font-size: 0.8em;
	text-decoration: underline;
	background: none;
	border: 0;
}
