.custom-info-panel {
	z-index: layer('modal');

	padding: gutter() / 2;

	font-size: ms(-1);

	text-align: center;

	background-color: palette('white');

	border-top: $stroke solid palette('border', 'focus');

	transform: translate(calc(-50% - 20px), calc(-100% - 20px - #{gutter()}));
	transform-origin: left top;
	transform-style: preserve-3d;

	box-shadow: 0 4px 2px palette('shadow');

	animation: flip-in 0.35s ease-out;

	@keyframes flip-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	&::after {
		@include triangle('bottom');

		position: absolute;
		bottom: -1.5em;
		left: 50%;

		margin-left: -0.75em;

		font-size: ms(-2);

		color: palette('white');
	}
}

.custom-info-panel dl {
	margin: 0;
}

.custom-info-panel dt {
	font-weight: normal;

	color: palette('gray');
}

.custom-info-panel dd {
	margin-bottom: $line-height * 0.5rem;

	font-weight: bold;
	// font-size: ms(1);

	color: palette('orange', 'dark');

	&:last-child {
		margin-bottom: 0;
	}
}

.custom-info-panel__counter {
	font-size: ms(3);
}
