.custom-info-panel {
	z-index: layer('modal');

	padding: gutter() / 2;

	background-color: palette('white');

	border-top: $stroke solid palette('border', 'focus');

	transform: translate(calc(-50% - 20px), calc(-100% - 20px - #{gutter()}));
	transform-origin: left top;
	transform-style: preserve-3d;

	box-shadow: 0 4px 2px palette('shadow');

	animation: flip-in 0.35s ease-out;

	@keyframes flip-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	&::after {
		@include triangle('bottom');

		position: absolute;
		bottom: -1.5em;
		left: 50%;

		margin-left: -0.75em;

		color: palette('white');
	}
}
