.map-container {
	max-width: none;

	padding: 0;
}

.map {
	max-height: 75vh;

	.home & {
		height: $line-height * 25em;
	}

	@include media('>=6col') {
		aside & {
			height: span(3);
		}
	}
}
