@mixin progress-bar-bg {
	&::-webkit-progress-bar {
		@content;
	}

	&::-moz-progress-bar {
		@content;
	}

	.progress-bar {
		@content;
	}

	@content;
}

@mixin progress-bar-fg {
	&[value]::-moz-progress-bar {
		@content;
	}

	&[value]::-webkit-progress-value {
		@content;
	}

	.progress-bar > span {
		@include hide-text;

		@content;
	}

}

@keyframes animate-stripes {
	100% {
		background-position: -101.5% 0;
	}
}

progress {
	@include fallback('font-size', 1rem);

	width: 100%;
	height: $line-height * 1em;

	color: palette('orange');

	// Get rid of default border in Firefox.
	border: 0;

	@include progress-bar-fg { // sass-lint:disable-line mixins-before-declarations
		background-image: linear-gradient(135deg, transparent, transparent 33%, palette('shadow') 33%, palette('shadow') 66%, transparent 66%), linear-gradient(to top, palette('shadow', 'inverse'), palette('shadow')), linear-gradient(to left, palette('orange', 'dark'), palette('orange', 'light'));
		background-size: 2.75em 1.5em, 100% 100%, 100% 100%;
		background-color: palette('orange');

		border-radius: $border-radius;

		animation: animate-stripes 5s linear infinite;
	}

	@include progress-bar-bg { // sass-lint:disable-line mixins-before-declarations
		background-image: linear-gradient(135deg, transparent, transparent 33%, palette('gray', 'light') 33%, palette('gray', 'light') 66%, transparent 66%), linear-gradient(to top, palette('gray', 'base'), palette('gray', 'light'));
		background-size: 2.75em 1.5em, 100% 100%;
		background-color: palette('gray', 'light');

		border-radius: $border-radius;

		box-shadow: 0 2px 3px palette('shadow') inset;
	}
}

[role='progress'] {
	display: flex;
	height: 2.3em;
	overflow: hidden;
	border: 1px solid palette('gray', light);

	$alpha: 3;
	$color: palette('hit-pink');

	@for $i from 17 through 20 {
		.progress-year-20#{$i} {
			background-color: darken($color, $alpha * 1%);

			&.progress-year--semester-2 {
				background-color: darken($color, $alpha * 2%);
			};

		}
		$alpha: $alpha + 8;
	}
}

.progress__more-info {
	min-height: 4em;
}

.progress-legend {
	margin-top: 1em;
	overflow: hidden;
}

.progress-legend__year {
	float: left;
	width: 50%;
	padding: 0 0.8em;
	margin-bottom: 1em;

	strong {
		display: block;
		margin-bottom: 0.3em;
		font-size: 1.2em;
		border-bottom: 1px solid palette('gray');
	}

	span {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.4em;
		vertical-align: middle;
	}
}


$alpha: 3;
$color: palette('hit-pink');

@for $i from 17 through 20 {

	.progress-legend__year--20#{$i} {
		.progres-legend__year--color-first-semester {
			background-color: darken($color, $alpha * 1%);
		}

		.progres-legend__year--color-second-semester {
			background-color: darken($color, $alpha * 2%);
		}
	}
	$alpha: $alpha + 8;
}
