.tabs {
	.tabs__control {
		a {
			display: inline-block;
			padding: 0.5em 0.8em;
			margin-left: 1em;
			border: 1px solid;

			&:focus {
				vertical-align: top;
			}

			&.active {
				color: palette('white');
				background-color: palette('orange', light);
			}
		}
	}

	.tab__content:not(:target) {
		display: none;
	}

	.tab__content:target {
		display: block;

		p {
			padding: 1em;
		}

		&:first-child {
			display: block;
		}
	}
}
