.togglebox .read-more{
	border: none;
	background: none;
	font-weight: bold;
	color: palette('orange');
}

.togglebox__content {
	position: relative;
	margin-bottom: 30px;

	time {
		font-style: normal;
		font-weight: bold;
		color: palette('brown', 'light');
	}

	.text {
		margin-top: 0.5em;
	}
}
