.topics {
	@include media('>=desktop') {
		margin-right: gutter() * -1;
		margin-left: gutter() * -1;
	}
}

.topics__list {
	width: 100%;

	padding: 0;
	margin-right: 0;
	margin-left: 0;

	text-align: center;
	text-decoration: none;

	@include media('>=desktop') {
		@include table-layout-wrapper {
			border-spacing: gutter();

			table-layout: fixed;
			border-collapse: separate;
		}
	}
}

.topic__item {
	@include aspect-ratio (8 x 3);

	padding-top: $line-height * 2em;
	padding-bottom: $line-height * 8em;
	padding-left: gutter() / 2;
	margin-bottom: $line-height * 1em;

	overflow: hidden;

	list-style-type: none;

	background-position: 50% 100%;
	background-size: cover;

	@include media('>=tablet') {
		padding-bottom: $line-height * 2em;
	}

	@include media('>=desktop') {
		@include table-layout-item;

		padding-top: 180px;
		padding-bottom: 180px;

		vertical-align: top;

		&::before,
		&::after {
			float: none;

			padding: 0;

			content: none;
		}
	}

	&::before {
		content: '';
	}
}

.topic__item dt,
.topic__item dd {
	max-width: span(3);

	padding: gutter() / 2;
	margin-right: 0;
	margin-left: auto;

	background-color: palette('white');

	box-shadow: 0 4px 2px palette('shadow');
}

.topic__item dt {
	margin-bottom: 2px;

	border: 0;
}

.topic__item dd {
	font-size: ms(-1);
}

.topic__item > a {
	@include link-undercover;

	position: relative;
	top: 0;

	display: block;
}

.topic__item--1 {
	background-image: image('desenvolvimento-humano.png');
}

.topic__item--2 {
	background-image: image('desenvolvimento-social.png');
}

.topic__item--3 {
	background-image: image('desenvolvimento-urbano.png');
}

.topic__item--4 {
	background-image: image('desenvolvimento-institucional.png');
}

.topic__item--5 {
	background-image: image('desenvolvimento-economico-e-gestao.png');
}
