.topics {
	@include media('>=desktop') {
		margin-right: gutter() * -1;
		margin-left: gutter() * -1;
	}
}

.topics__list {
	width: 100%;

	padding: 0;
	margin-right: 0;
	margin-left: 0;

	text-decoration: none;

	@include media('>=desktop') {
		@include table-layout-wrapper {
			border-spacing: gutter();

			table-layout: fixed;
			border-collapse: separate;
		}
	}
}

.topic__item {
	@include link-undercover;
	@include aspect-ratio (8 x 3);

	position: relative;
	top: 0;

	display: block;

	padding-top: $line-height * 2em;
	padding-bottom: $line-height * 8em;
	padding-left: gutter() / 2;
	margin-bottom: $line-height * 1em;

	overflow: hidden;

	list-style-type: none;

	background-position: 50% 100%;
	background-size: cover;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: layer('default');

		content: '';

		opacity: 0;

		transition: opacity 0.3s;
	}

	&:hover,
	&:active,
	&:focus {
		&::before {
			background-color: palette('shadow');

			opacity: 1;

			transition: opacity 0.3s;
		}
	}

	@include media('>=tablet') {
		padding-bottom: $line-height * 2em;
	}

	@include media('>=desktop') {
		@include table-layout-item;

		padding-top: 180px;
		padding-bottom: 180px;

		vertical-align: top;
	}
}

.topic__item dt,
.topic__item dd {
	position: relative;

	z-index: layer('default');

	max-width: span(3) / 1em * 1rem;

	padding: gutter() / 2;
	margin-right: 0;
	margin-left: auto;

	background-color: palette('white');

	box-shadow: 0 4px 2px palette('shadow');
}

.topic__item dt {
	border: 0;
}

.topic__item dd {
	font-size: ms(-1);
}

.topic__item--1 {
	background-image: image('desenvolvimento-humano--272w.jpg');

	@include media('>=480px') {
		background-image: image('desenvolvimento-humano--432w.jpg');
	}
	@include media('>=640px') {
		background-image: image('desenvolvimento-humano--592w.jpg');
	}
	@include media('>=768px') {
		background-image: image('desenvolvimento-humano--720w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('desenvolvimento-humano--176w.jpg');
	}
	@include media('>=1280px') {
		background-image: image('desenvolvimento-humano--207w.jpg');
	}
}

.topic__item--2 {
	background-image: image('desenvolvimento-social--272w.jpg');

	@include media('>=480px') {
		background-image: image('desenvolvimento-social--432w.jpg');
	}
	@include media('>=640px') {
		background-image: image('desenvolvimento-social--592w.jpg');
	}
	@include media('>=768px') {
		background-image: image('desenvolvimento-social--720w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('desenvolvimento-social--176w.jpg');
	}
	@include media('>=1280px') {
		background-image: image('desenvolvimento-social--207w.jpg');
	}
}

.topic__item--3 {
	background-image: image('desenvolvimento-urbano--272w.jpg');

	@include media('>=480px') {
		background-image: image('desenvolvimento-urbano--432w.jpg');
	}
	@include media('>=640px') {
		background-image: image('desenvolvimento-urbano--592w.jpg');
	}
	@include media('>=768px') {
		background-image: image('desenvolvimento-urbano--720w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('desenvolvimento-urbano--176w.jpg');
	}
	@include media('>=1280px') {
		background-image: image('desenvolvimento-urbano--207w.jpg');
	}
}

.topic__item--4 {
	background-image: image('desenvolvimento-institucional--272w.jpg');

	@include media('>=480px') {
		background-image: image('desenvolvimento-institucional--432w.jpg');
	}
	@include media('>=640px') {
		background-image: image('desenvolvimento-institucional--592w.jpg');
	}
	@include media('>=768px') {
		background-image: image('desenvolvimento-institucional--720w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('desenvolvimento-institucional--176w.jpg');
	}
	@include media('>=1280px') {
		background-image: image('desenvolvimento-institucional--207w.jpg');
	}
}

.topic__item--5 {
	background-image: image('desenvolvimento-economico-e-gestao--272w.jpg');

	@include media('>=480px') {
		background-image: image('desenvolvimento-economico-e-gestao--432w.jpg');
	}
	@include media('>=640px') {
		background-image: image('desenvolvimento-economico-e-gestao--592w.jpg');
	}
	@include media('>=768px') {
		background-image: image('desenvolvimento-economico-e-gestao--720w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('desenvolvimento-economico-e-gestao--176w.jpg');
	}
	@include media('>=1280px') {
		background-image: image('desenvolvimento-economico-e-gestao--207w.jpg');
	}
}
