{{ partialCached "header.html" . }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h1 class="h-entry__p-name p-name">{{ .Title }}</h1>
		</header>
		<section class="disclaimer">
			{{ .Content }}
		</section>
		<section class="download-files" hidden>
			<h2>{{ i18n "downloadFiles" }}</h2>

			<div class="download-files__form">
				<label class="download-files__table">
					<span>{{ i18n "tables" }}</span>
					<select name="tabela" class="form-control">
						<option value="conselho" selected="selected">Conselhos</option>
						<option value="distrito" selected="selected">Distritos</option>
						<option value="empresa" selected="selected">Empresas</option>
						<option value="meta" selected="selected">Metas</option>
						<option value="objetivo" selected="selected">Objetivos</option>
						<option value="orcamento" selected="selected">Orçamentos</option>
						<option value="projeto" selected="selected">Projetos</option>
						<option value="subprefeitura" selected="selected">Subprefeituras</option>
					</select>
				</label>
			</div>

			<div class="download-files__download-area">
				<label>
					<span>{{ i18n "file" }}</span>
					<input type="text" name="url" readonly="readonly" class="form-control">
				</label>

				<a target="_blank" class="download-files__button" href="http://www.deolhonasmetas.org.br/api/download/subprefeitura.csv" download>
					{{ i18n "downloadTables" }}
				</a>
			</div>

			<div class="download-files__information">
				<h3>{{ i18n "informationsOnFiles" }}</h3>
				<span>{{ i18n "filesFields" }}</span>

				<div class="download-files__information-list">
					{{ range $.Site.Data.openDataFilesInfo.infos }}
						<div>
							<h2>{{ .info.title }}</h2>
							<ul>
								{{ range .info.values }}
									<li><strong>{{ . }}</strong></li>
								{{ end }}
							</ul>
						</div>
					{{ end }}
				</div>
			</div>
		</section>

		<section class="devs-api">
			{{ with where $.Site.RegularPages ".Type" "api-desenvolvedores" }}
				{{ range . }}
					{{ .Content }}
				{{ end }}
			{{ end }}

			<h3>{{ i18n "endpoint" 1 }}</h3>

			<table class="bordered-table">
				<thead>
					<tr>
						<th>{{ i18n "endpoint" 2 }}</th>
						<th>{{ i18n "description" }}</th>
					</tr>
				</thead>
				<tbody>
					{{ range $.Site.Data.endpoints }}
						<tr>
							<th>
								<pre>
									<span class="page-scroll">
										{{ .url }}
									</span>
								</pre>
							</th>
							<td>{{ .description }}</td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</section>

		<section class="api-examples">
			{{ with where $.Site.RegularPages ".Type" "exemplos-api" }}
				{{ range . }}
					<div class="api-examples__example">
						<h3>{{ .Title }}</h3>
						<small>{{ i18n "returningExample" }}</small>

						<pre class="precode language-javascript">
							<code class="language-javascript" contenteditable="true" tabindex="0" spellcheck="false">
								{{ .Content }}
							</code>
						</pre>
					</div>
				{{ end }}
			{{ end }}
		</section>
	</div>
</article>

{{ partialCached "footer.html" . }}
