{{ partialCached "header.html" . }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h1 class="h-entry__p-name p-name">{{ .Title }}</h1>
		</header>
		<section class="disclaimer">
			<h2>O que são dados abertos?</h2>
			<p>
				Segundo a definição da Open Knowledge Foundation, em suma:
			</p>
			<blockquote cite="http://opendatahandbook.org/guide/pt_BR/what-is-open-data/">
				dados são abertos quando qualquer pessoa pode livremente usá-los, reutilizá-los e redistribuí-los, estando sujeito a, no máximo, a exigência de creditar a sua autoria e compartilhar pela mesma licença.
			</blockquote>
			<cite>
				<a href="http://opendatahandbook.org/guide/pt_BR/what-is-open-data/">Open Knowledge Foundation</a>
			</cite>
			<p>
				Você pode saber mais sobre o assunto acessando o
				<a href="http://dados.gov.br/pagina/dados-abertos">Portal de dados abertos do Brasil</a>.
			</p>

			<h2>API para desenvolvedores</h2>
			Você também pode consultar os dados que estão armazenados no DONM via API.

			Para saber mais, navegue até a seção API
		</section>
		<section class="download-files">
			<h2>Baixar arquivos</h2>

			<div class="download-files__form">
				<label class="download-files__table">
					Tabelas
					<select name="tabela" class="form-control">
						<option value="conselho" selected="selected">Conselhos</option>
						<option value="distrito" selected="selected">Distritos</option>
						<option value="empresa" selected="selected">Empresas</option>
						<option value="meta" selected="selected">Metas</option>
						<option value="objetivo" selected="selected">Objetivos</option>
						<option value="orcamento" selected="selected">Orçamentos</option>
						<option value="projeto" selected="selected">Projetos</option>
						<option value="subprefeitura" selected="selected">Subprefeituras</option>
					</select>
				</label>

				<label class="download-files__format">
					Formato
					<select name="formato" class="form-control">
						<option value="csv" selected="selected">CSV</option>
						<option value="xls">XLS</option>
						<option value="xml">XML</option>
						<option value="json">JSON</option>
					</select>
				</label>
			</div>

			<div class="download-files__download-area">
				<label>
					Arquivo das tabelas
					<input type="text" name="url" readonly="readonly" class="form-control">
				</label>

				<a target="_blank" class="download-files__button" href="http://www.deolhonasmetas.org.br/api/download/subprefeitura.csv" download>
					Efetuar download das tabelas
				</a>
			</div>

			<div class="download-files__information">
				<h3>Informações contidas nos arquivos</h3>
				<span>Campos dos arquivos</span>

				<div class="download-files__information-list">
					<div>
						<h2>Meta</h2>
						<ul>
							<li><strong>ID da meta</strong></li>
							<li><strong>Nome</strong></li>
							<li><strong>Descrição</strong></li>
							<li><strong>Orçamento esperado</strong></li>
							<li>Número da meta</li>
							<li>Data de atualização</li>
							<li>Data esperada para início</li>
							<li>Data esperada para termino</li>
							<li>Será entregue</li>
							<li>Transversalidade</li>
							<li>Progresso Qualitativo 1</li>
							<li>Progresso Qualitativo 2</li>
							<li>Progresso Qualitativo 3</li>
							<li>Progresso Qualitativo 4</li>
							<li>Progresso Qualitativo 5</li>
							<li>Progresso Qualitativo 6</li>
						</ul>
					</div>

					<div>
						<h2>Objetivo</h2>

						<ul>
							<li><strong>ID do objetivo</strong></li>
							<li><strong>Nome</strong></li>
							<li><strong>Data de atualização</strong></li>
						</ul>
					</div>
					<div>
						<h2>Projeto</h2>

						<ul>
							<li><strong>ID do projeto</strong></li>
							<li><strong>Nome</strong></li>
							<li><strong>latitude</strong></li>
							<li><strong>longitude</strong></li>
							<li>Número do projeto</li>
							<li>Progresso Qualitativo 1</li>
							<li>Progresso Qualitativo 2</li>
							<li>Progresso Qualitativo 3</li>
							<li>Progresso Qualitativo 4</li>
							<li>Progresso Qualitativo 5</li>
							<li>Progresso Qualitativo 6</li>
							<li>Porcentagem</li>
							<li>Data de atualização</li>
						</ul>
					</div>

					<div>
						<h2>Empresa</h2>

						<ul>
							<li><strong>ID da empresa</strong></li>
							<li><strong>Nome</strong></li>
							<li><strong>Url do nome</strong></li>
						</ul>
					</div>

					<div>
						<h2>Orçamento</h2>

						<ul>
							<li><strong>ID do orçamento</strong></li>
							<li><strong>Nome da empresa</strong></li>
							<li><strong>CNPJ</strong></li>
							<li>Número da meta</li>
							<li>Valor Dedicado</li>
							<li>Valor liquidado</li>
							<li>Observação</li>
							<li>Código de contrato</li>
							<li>Código da organização</li>
							<li>Nome da organização</li>
							<li>Id da empresa</li>
							<li>Data de atualização</li>
						</ul>
					</div>
					<div>
						<h2>Conselho</h2>

						<ul>
							<li><strong>ID do conselho</strong></li>
							<li><strong>Nome do conselho</strong></li>
							<li><strong>Descrição</strong></li>
							<li>Telefone</li>
							<li>Endereço</li>
							<li>Complemento</li>
							<li>Código postal</li>
							<li>Site</li>
						</ul>
					</div>
					<div>
						<h2>Distrito</h2>

						<ul>
							<li><strong>ID do distrito</strong></li>
							<li><strong>Nome do distrito</strong></li>
							<li><strong>Latitude</strong></li>
							<li>Longitude</li>
							<li>Coordenadas Geométricas</li>
						</ul>
					</div>
					<div>
						<h2>Subprefeitura</h2>

						<ul>
							<li><strong>ID da subprefeitura</strong></li>
							<li><strong>Nome da subprefeitura</strong></li>
							<li><strong>Endereço</strong></li>
							<li>E-mail</li>
							<li>Site</li>
							<li>Telefone</li>
							<li>Subprefeito</li>
							<li>Latitude</li>
							<li>Longitude</li>
						</ul>
					</div>
				</div>
			</div>

		</section>
		<section class="devs-api">
			<h2>API para desenvolvedores</h2>
			<p>O DONM fornece uma REST API para a consulta dos dados.</p>
			<p>Os endpoints podem entregar o contéudo serializado em JSON.</p>
			<p>O content-type é definido automaticamente pelo header Accept. Por padrão, a resposta é no formato JSON. </p>
			<p>Para pedir manualmente, utilize ?content-type=application/json para JSON.</p>

			<h3>Endpoints</h3>

			<table class="bordered-table">
				<thead>
					<tr>
						<th>Endpoint</th>
						<th>Descrição</th>
						<th>Parâmetros aceitos</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><pre><span class="page-scroll"><a data-animated-anchor="" href="#code_goal">/api/public/goals</a></span></pre></th>
							<td>Lista de todas as metas</td>
							<td>
								<ul class="list-unstyled list-param">
									<li>?type_id=</li>
									<li>?region_id=</li>
								</ul>
							</td>
					</tr>
					<tr>
						<th><pre><span class="page-scroll"><a  href="#code_goal_detail">/api/public/goals/*</a></span></pre></th>
							<td>Lista de todos atributos da meta específica</td>
							<td>
								<ul class="list-unstyled list-param">
									<li>* =&gt; id da meta</li>
								</ul>
							</td>
					</tr>

					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-project">/api/public/projects</a></span></pre></th>
							<td>Lista de todos os projetos</td>
							<td>-</td>
					</tr>
					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-project-detail">/api/public/projects/*</a></span></pre></th>
							<td>Lista de todos os atributos do projeto específico</td>
							<td>
								<ul class="list-unstyled list-param">
									<li>* =&gt; id do projeto</li>
								</ul>
							</td>

					</tr>
					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-objective">/api/public/objectives</a></span></pre></th>
							<td>Lista de todos os objetivos</td>
							<td>-</td>

					</tr>

					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-company">/api/public/companies</a></span></pre></th>
							<td>Lista de todas as empresas.</td>
							<td>-</td>
					</tr>
					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-company-budget">/api/public/companies/*/budgets</a></span></pre></th>
							<td>Lista de todas as empresas por metas de acordo com os orçamentos utilizados.</td>
							<td>
								<ul class="list-unstyled list-param">
									<li>* =&gt; id da empresa</li>
								</ul>

							</td>
					</tr>

					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-budget-goal">/api/public/companies/*/goals</a></span></pre></th>
							<td>Lista de todas as empresas por metas.</td>

							<td>
								<ul class="list-unstyled list-param">
									<li> * =&gt; id da empresa</li>
								</ul>

							</td>
					</tr>
					<tr>
						<th><pre><span class="page-scroll"> <a href="#code-council">/api/public/councils</span></pre></th> <td>Lista de todos os conselhos.</td>

							<td>
								<ul class="list-unstyled list-param">
								</ul>

							</td>
					</tr>
					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-district">/api/public/districts</a></span></pre></th>
							<td>Lista de todos os distritos.</td>

							<td>
								<ul class="list-unstyled list-param">
								</ul>

							</td>
					</tr>
					<tr>
						<th><pre><span class="page-scroll"><a  href="#code-subprefecture">/api/public/subprefectures</a></span></pre></th>
							<td>Lista de todas as subprefeituras.</td>

							<td>
								<ul class="list-unstyled list-param">
								</ul>

							</td>
					</tr>

				</tbody>
			</table>
		</section>
		<section class="api-examples">
			<h3>/api/public/goals</h3>
			<small>Exemplo de retorno</small>
			<pre class="precode language-javascript">
				<code class="language-javascript" contenteditable="true" tabindex="0" spellcheck="false">
				goals
						[
						  [0]
							{
							description:              "Prioridade para implementação das ações nas Subprefeituras com maior concentração de famílias em situação de extrema pobreza e pobreza. Busca Ativa apoiada pelas áreas de interface e sociedade civil. Disponibilização de espaços públicos e equipamentos municipais para ações cadastrais.",
							expected_budget:          103305927,
							expected_end_date:        undef,
							expected_start_date:      undef,
							goal_number:              1,
							id:                       1,
							name:                     "Inserir aproximadamente 280 mil famílias com renda de até meio salário mínimo no Cadastro Único para atingir 773 mil famílias cadastradas",
							percentage:              {
									 owned:             124.94678571429
													 },
							project_count:            1,
							qualitative_progress_1:   "349 mil famílias inseridas no Cadastro Único de janeiro de 2013 a julho de 2014, superando a meta prevista para o final de 2016 em mais de 20%.",
							qualitative_progress_2:   "O número de famílias cadastradas em dezembro de 2012 era de 493 mil. Em julho de 2013 este número passou para 709.595, chegando a 922.259 em julho de 2014, data da última atualização do CadÚnico. ",
							qualitative_progress_3:   "350 entrevistadores contratados em novembro de 2013 para a realização de novos cadastros.",
							qualitative_progress_4:   "200 Agentes de Saúde e  22 Agentes de Gestão de Politicas Públicas de Unidades Básicas de Saúde (UBS) capacitados como entrevistadores para a realização de novos cadastros.",
							qualitative_progress_5:   "",
							qualitative_progress_6:   "",
							transversality:           "juventude-viva  sp-carinhosa   pop rua",
							updated_at:               undef,
							url:                      "http://www.deolhonasmetas.org.br/api/public/goals/1",
							will_be_delivered:        "280 mil famílias inscritas no Cadastro Único"
							}
							...
						]
					</code>
			</pre>
		</section>
	</div>


</article>

{{ partialCached "footer.html" . }}
