	<footer class="site-footer">
		<div role="contentinfo">
			{{ with .Site.Params.responsibles }}
				<div class="contentinfo__responsibles">
					<h5>
						{{ i18n "responsiblesTitleCase" }}
					</h5>
					<ul>
						{{ range $k, $v := . }}
							<li class="{{ $k }}"><a href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
						{{ end }}
					</ul>
				</div>
			{{ end }}

			{{ with .Site.Params.partners }}
				<div class="contentinfo__partners">
					<h5>
						{{ i18n "partnersTitleCase" }}
					</h5>
					<ul>
						{{ range $k, $v := . }}
							<li class="{{ $k }}"><a href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
						{{ end }}
					</ul>
				</div>
			{{ end }}

			{{ with .Site.Params.supporters }}
				<div class="contentinfo__supporters">
					<h5>
						{{ i18n "supportersTitleCase" }}
					</h5>
					<ul>
						{{ range $k, $v := . }}
							<li class="{{ $k }}"><a href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
						{{ end }}
					</ul>
				</div>
			{{ end }}
		</div>

		<nav class="footer-menu">
			{{ partial "menu.html" . }}
		</nav>
	</footer>
	{{ partial "browserUpdate.html" . }}
</div><!-- .main-container -->

<style>
	/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
	[id='map'] {
		height: 650px;
	}
</style>

	<script src="/dist/js/index.js"></script>

	{{ with $.Site.Params.googleMapsAPI }}
		<script src="https://maps.googleapis.com/maps/api/js?key={{ . }}&callback=initMap" async defer></script>
	{{ end }}

	{{ with $.Scratch.Get "scriptsFooter" }}
		{{ . | safeHTML }}
	{{ end }}

	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ template "_internal/google_analytics.html" . }}
	{{ end }}

</body>
</html>
