	<footer class="site-footer">
		<div role="contentinfo">
			{{ with .Site.Params.responsibles }}
				<div class="contentinfo__responsibles">
					<h5>
						{{ i18n "responsibles" }}
					</h5>
					<ul>
						{{ range $k, $v := . }}
							<li class="{{ $k }}"><a href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
						{{ end }}
					</ul>
				</div>
			{{ end }}

			{{ with .Site.Params.partners }}
				<div class="contentinfo__partners">
					<h5>
						{{ i18n "partners" }}
					</h5>
					<ul>
						{{ range $k, $v := . }}
							<li class="{{ $k }}"><a href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
						{{ end }}
					</ul>
				</div>
			{{ end }}

			{{ with .Site.Params.supporters }}
				<div class="contentinfo__supporters">
					<h5>
						{{ i18n "supporters" }}
					</h5>
					<ul>
						{{ range $k, $v := . }}
							<li class="{{ $k }}"><a href="{{ $v.link }}" target="_blank">{{ $v.name }}</a></li>
						{{ end }}
					</ul>
				</div>
			{{ end }}
		</div>

		{{ partial "menu.html" . }}
	</footer>

	{{ partial "browserUpdate.html" . }}

<style>
	/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
	#map {
		height: 500px;
	}
</style>

<script>

let map;

function initMap() {
	map = new google.maps.Map(document.getElementById('map'), {
		center: { lat: -23.55, lng: -46.633333 },
		zoom: 10,
	});

	const myHeaders = new Headers();

	myHeaders.append('Content-Type', 'application/json');

	const myInit = {
		method: 'GET',
		headers: myHeaders,
		mode: 'cors',
		cache: 'default',
	};

	const myRequest = new Request('https://dapidonm.eokoe.com/api/region');

	fetch(myRequest, myInit)
		.then((response) => {
			const contentType = response.headers.get('content-type');

			if (contentType && contentType.includes('application/json')) {
				return response.json();
			}

			throw new TypeError("Oops, we haven't got JSON!");
		})
		.then((districtsList) => {
			districtsList.region.forEach((district) => {
				const points = [];

				const geoJSON = JSON.parse(district.geo_json);

				geoJSON.coordinates.forEach((coord) => {
					coord.forEach((corner) => {
						points[points.length] = {
							lat: corner[1],
							lng: corner[0],
						};
					});
				});

				// Construct the polygon.
				const districtToDraw = new google.maps.Polygon({
					paths: points,
					strokeColor: '#FF0000',
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: '#FF0000',
					fillOpacity: 0.35,
				});

				districtToDraw.setMap(map);
			});
		})
		.catch((error) => {
			throw new TypeError(error);
		});
}
</script>

	{{ with $.Site.Params.googleMapsAPI }}
		<script src="https://maps.googleapis.com/maps/api/js?key={{ . }}&callback=initMap" async defer></script>
	{{ end }}

	{{ with $.Scratch.Get "scriptsFooter" }}
		{{ . | safeHTML }}
	{{ end }}

	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ template "_internal/google_analytics.html" . }}
	{{ end }}

</body>
</html>
