<!DOCTYPE html>
<html lang="{{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" class="{{ if .IsHome }}home {{ end }}{{ $.Scratch.Get "rootClass" }} {{ .Params.rootClass }} {{ if eq (getenv "NODE_ENV") "dev" }}grid{{ end }} no-js">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

	<link rel="stylesheet" href="/dist/css/index.css" media="all">
	{{ if eq (getenv "NODE_ENV") "development" }}
		<link rel="stylesheet" href="/dist/css/qa.css" media="all">
	{{ end }}

	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">

	<link rel="preload" href="/dist/js/index.js" as="script">
	<link rel="preload" href="https://maps.googleapis.com/maps/api/js" as="script">

	<title>{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

	{{ with .Site.Params.SiteDescription }}<meta name="description" content="{{ . }}">{{ end }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	{{ with $.Scratch.Get "scriptsHeader" }}
		{{ . | safeHTML }}
	{{ end }}

	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ template "_internal/google_analytics.html" . }}
	{{ end }}
</head>
<body>
	<input type="checkbox" id="menu-controller" class="menu-controller" hidden>
	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ partialCached "gTranslator.html" . }}
	{{ end }}
	<div class="main-container">
		<nav class="skip-links">
			<ul>
				<li class="to-content"><a href="#conteudo">conteúdo</a></li>
				<li class="to-menu"><a href="#menu">menu</a></li>
			</ul>
		</nav>
		<header class="site-header">
			<label for="menu-controller" onclick>menu</label>

			<div role="banner">
				<a href="/">
					{{ .Site.Title }}
				</a>
			</div>
			<nav class="main-menu" id="menu">
				{{ partial "menu.html" . }}
			</nav>
		</header>
