{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/districts.json" as="fetch" type="application/json">
` }}{{ partial "header.html" . }}
	<main role="main" id="conteudo">

		{{ $regions := getJSON "./static/dist/data/districts.json" }}
		{{ with $regions.regions }}
			<article class="districts map-container">
				<div id="map" data-subprefectures="all"></div>

				<noscript>
					<table class="districts__table">
						{{ range sort . "name" "asc" }}
							<tr id="districts__table__district-{{ .id }}">
								<th>{{ .name }}</th>
							</tr>
						{{ end }}
					</table>
				</noscript>
			</article>
		{{ end }}

		{{ with where .Site.RegularPages ".Type" "faq" }}
			<article class="h-entry faq">
				{{ range . }}
					<details id="faq__{{ .File.TranslationBaseName }}">
						<summary>{{ .Title | safeHTML | markdownify }}</summary>
						{{ .Content }}
					</details>
				{{ end }}
			</article>
		{{ end }}
	</main>

{{ partial "footer.html" . }}
