{{ partial "header.html" . }}
	<main role="main" id="conteudo">

		{{ $regions := getJSON "./static/dist/js/districts.json" }}
		{{ with $regions.region }}
			<section class="districts">
				<div id="map"></div>

				<noscript>
					<table class="districts__table">
						{{ range sort . "name" "asc" }}
							<tr id="districts__table__district-{{ .id }}">
								<th>{{ .name }}</th>
							</tr>
						{{ end }}
					</table>
				</noscript>
			</section>
		{{ end }}

		{{ with where .Site.RegularPages ".Type" "faq" }}
			<section class="faq">
				{{ range . }}
					<details id="faq__{{ .File.TranslationBaseName }}">
						<summary>{{ .Title | safeHTML | markdownify }}</summary>
						{{ .Content }}
					</details>
				{{ end }}
			</section>
		{{ end }}
	</main>

{{ partial "footer.html" . }}
