{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/project/" .Params.id ) }}

{{ $project := getJSON $url }}

{{ range $project }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "project" 1 }}
				{{ .id }}
			</h2>
			<h1 class="h-entry__p-name p-name">{{ trim .title "." }}</h1>
			{{ with .topics }}
				<h3>{{ i18n "topic" 1 }} {{ range . }}{{ .name }}{{ end }} </h3>
			{{ end }}
			<h4>{{ .description }}</h4>
		</header>

		<section class="situation">
			<h3>{{ i18n "currentSituation" }}</h3>
			<p>{{ .current_scenario }}</p>
		</section>

		<section class="expected-results">
			<h3> {{ i18n "expectedResults" }}</h3>
			<p>{{ .expected_results }}</p>
		</section>

		<section class="budget">
			<h3>{{ i18n "budget" }}</h3>

			<table>
				<thead>
					<tr>
						<th></th>
						<th>{{ i18n "ownResources" }}</th>
						<th>{{ i18n "othersResources" }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>{{ i18n "investiment" }}</th>
						<td title="{{ i18n "ownResources" }}">0</td>
						<td title="{{ i18n "othersResources" }}">0</td>
					</tr>
					<tr>
						<th>{{ i18n "costing" }}</th>
						<td title="{{ i18n "ownResources" }}">0</td>
						<td title="{{ i18n "othersResources" }}">0</td>
					</tr>
				</tbody>
			</table>
		</section>

		{{ with .action_lines }}
		<section class="action-lines">
			<h2>{{ i18n "actionLine" (len .) }}</h2>

			<dl class="action-lines__list">
			{{ range . }}
				<div class="definition-item action-lines__list-item">
					<dt class="action-lines__item-id">
						{{ with .slug }}
							<a href="/linhas-de-acao/{{ . }}">
						{{ end }}
							{{ .id }}
						{{ with .slug }}
							</a>
						{{ end }}
					</dt>
					<dd class="action-lines__item-title">
						{{ .title }}
					</dd>
				</div>
			{{ end }}
			</dl>

		</section>
		{{ end }}
	</div>

	<aside>
		<section class="progress">
			<h3>{{ i18n "progressProject" }}</h3>
			<progress {{ with .progress }}value="{{ . }}"{{ end }} max="100" value="50">
				<div class="progress-bar">
					<span {{ with .progress }} style="width: {{ . }}%;" {{ end }}>
						{{ with .progress }}{{ . }}%{{ end }}
					</span>
				</div>
			</progress>
		</section>

		<section class="goals">
			<h3>{{ i18n "relatedGoal" (len .) }}</h3>

			<ul class="goals-list">
			{{ range .goals }}
				<li>
					{{ with .slug }}
						<a href="/metas/{{ . }}">
					{{ end }}
						{{ trim .title "." }}
					{{ with .slug }}
						</a>
					{{ end }}
				</li>
			{{ end }}
			</ul>

		</section>

		<section class="districts">
			<h2>{{ i18n "benefitedSubprefectures" (len .) }}</h2>
			{{ if .subprefectures }}
				<ul class="district-list">
					{{ range .subprefectures }}
						<li>
							{{ with .slug }}
								<a href="/distritos/{{ . }}">
							{{ end }}
								{{ .name }}
							{{ with .slug }}
								</a>
							{{ end }}
						</li>
					{{ end }}
				</ul>
			{{ else }}
				<p class="warning">{{ i18n "dataNotRestrictedToARegion" }}</p>
			{{ end }}
			<div id="map" class="map"
				{{ if .subprefectures }}
					data-to-draw="subprefectures cities"
					data-subprefectures-to-draw="{{ range .subprefectures }}{{ .id }} {{ end }}"
				{{ else }}
					data-to-draw="cities"
					data-zoom="+1"
				{{ end }}
			></div>
		</section>

	</aside>

</article>

{{ end }}

{{ partialCached "footer.html" . }}
