{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/project/" .Params.id ) }}

{{ $project := getJSON $url }}

{{ range $project }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "projectTitleCase" }}
				{{ .id }}
			</h2>
			<h1 class="h-entry__p-name p-name">{{ trim .title "." }}</h1>
			{{ with .topics }}
				<h3>{{ i18n "topicTitleCase" (len .) }} {{ range . }}{{ .name }}{{ end }} </h3>
			{{ end }}
			<h4>{{ .description }}</h4>
		</header>

		<section class="situation">
			<h3>{{ i18n "situationSentenceCase" }}</h3>
			<p>{{ .current_scenario }}</p>
		</section>

		<section class="expected-results">
			<h3> {{ i18n "expectedResults" }}</h3>
			<p>{{ .expected_results }}</p>
		</section>

		<section class="budget">
			<h3>{{ i18n "budget" }}</h3>

			<table>
				<thead>
					<tr>
						<th></th>
						<th>{{ i18n "ownResourcesSetenceCase" }}</th>
						<th>{{ i18n "othersResourcesSetenceCase" }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>{{ i18n "investimentSetenceCase" }}</th>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<th>{{ i18n "costingSetenceCase" }}</th>
						<td>0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section class="action-lines">
			<h2>{{ i18n "actionSentenceCase" }}</h2>

			<dl class="action-lines__list">
			{{ range .action_lines }}
				<div class="definition-item">
					<dt>
						{{ with .slug }}
							<a href="/action-lines/{{ . }}">
						{{ end }}
							{{ .id }}
						{{ with .slug }}
							</a>
						{{ end }}
					</dt>
					<dd>
						{{ .title }}
					</dd>
				</div>
			{{ end }}
			</dl>

		</section>
	</div>

	<aside>
		<section class="progress">
			<h3>{{ i18n "progressProjectSentenceCase" }}</h3>
			<progress {{ with .progress }}value="{{ . }}"{{ end }} max="100" value="50">
				<div class="progress-bar">
					<span {{ with .progress }} style="width: {{ . }}%;" {{ end }}>
						{{ with .progress }}{{ . }}%{{ end }}
					</span>
				</div>
			</progress>
		</section>

		<section class="goals">
			<h3>{{ i18n "relatedGoalsSentenceCase" }}</h3>

			<ul class="goals-list">
			{{ range .goals }}
				<li>
					{{ with .slug }}
						<a href="/goals/{{ . }}">
					{{ end }}
						{{ trim .title "." }}
					{{ with .slug }}
						</a>
					{{ end }}
				</li>
			{{ end }}
			</ul>

		</section>

			<section class="districts">
				<h2>{{ i18n "districtsBenefitedSentenceCase" }}</h2>
				<ul class="district-list">

					{{ range .regions }}
						<li>
							{{ with .slug }}
								<a href="/distritos/{{ . }}">
							{{ end }}
								{{ .name }}
							{{ with .slug }}
								</a>
							{{ end }}
						</li>
					{{ end }}

				</ul>
				<div id="map" class="map" data-to-draw="regions" {{ with .regions }}data-regions-to-draw="{{ range . }}{{ .id }} {{ end }}"{{ end }}></div>
			</section>

	</aside>

</article>

{{ end }}

{{ partial "footer.html" . }}
