{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/subprefectures.json" as="fetch" type="application/json">
` }}{{ $.Scratch.Add "rootClass" "subprefectures-page" }}{{ partial "header.html" . }}
{{ $subprefectures := getJSON "./static/dist/data/subprefectures.json" }}

<article id="conteudo" role="main">
	<header>
		<h1>
			{{ i18n "regionalPrefecture" (len $subprefectures.subprefectures) }}
		</h1>
	</header>

	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}

	{{ with $subprefectures.subprefectures }}
		<section class="subprefectures">
			<p>{{ i18n "displaying" }} <b id="js-filterable__counter">{{ len . }}</b> {{ i18n "of" | lower }} <b>{{ len . }}</b> {{ i18n "regionalPrefecture" (len .) | lower }}.</p>

			{{ partialCached "filterForm.html" . }}

			<ul class="subprefectures__list">
				{{ range sort . "name" "asc" }}
					<li id="subprefectures-{{ .id }}" class="subprefectures__item js-filterable__item filterable__item">
						<a href="/prefeituras-regionais/{{ .slug }}">
							{{ .name }}
						</a>
					</li>
				{{ end }}
			</ul>
		</section>
	{{ end }}

</article>

{{ partialCached "footer.html" . }}
