{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/subprefectures.json" as="fetch" type="application/json">
` }}{{ $.Scratch.Add "rootClass" "subprefectures-page" }}{{ partial "header.html" . }}
<article id="conteudo" role="main">
	<header>
		<h1>
			{{ i18n "regionalPrefecturesSetenceCase" }}
		</h1>
	</header>

	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}

	{{ $subprefectures := getJSON "./static/dist/data/subprefectures.json" }}

	{{ with $subprefectures.subprefectures }}
		<section class="subprefectures">
			<p><b>{{ len . }}</b> {{ i18n "regionalPrefecturesSetenceCase" }}.</p>

			<ul class="subprefectures__list">
				{{ range sort . "name" "asc" }}
					<li id="subprefectures-{{ .id }}" class="subprefectures__item">
						<a href="/prefeituras-regionais/{{ .slug }}">
							{{ .name }}
						</a>
					</li>
				{{ end }}
			</ul>
			<div id="map" data-to-draw="subprefectures" data-link-for="subprefectures" data-info-panel-for="subprefectures" data-subprefectures-distribute-by="action_lines_count" data-zoom="+1"></div>
		</section>
	{{ end }}

</article>

{{ partial "footer.html" . }}
