{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/subprefecture/" .Params.id ) }}


{{ $subprefecture := getJSON $url }}

{{ with $subprefecture.subprefecture }}


<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "regionalGovernment" }}
			</h2>
			<h1>

				{{ .name }}

			</h1>

		</header>

		<section class="district map-container">

		<div id="map" class="map" data-to-draw="regions" {{ with .regions }}data-regions-to-draw="{{ range . }}{{ .id }} {{ end }}"{{ end }} data-info-panel-for="regions" data-link-for="regions" ></div>

		</section>

		{{ with .action_lines }}
			<section class="action-lines">
				<h2>{{ i18n "actionSentenceCase" (len .) }}</h2>

				<dl class="action-lines__list">
				{{ range . }}
					<div class="definition-item action-lines__list-item">
						<dt class="action-lines__item-id">
							{{ with .slug }}
								<a href="/linhas-de-acao/{{ . }}">
							{{ end }}
								{{ .id }}
							{{ with .slug }}
								</a>
							{{ end }}
						</dt>
						<dd class="action-lines__item-title">
							{{ .title }}
						</dd>
					</div>
				{{ end }}
				</dl>
			</section>
		{{ end }}
	</div>

	<aside>
		<section class="sub-prefecture h-card">
			<h2>{{ i18n "districtFile" }}</h2>
			<h3 class="p-name">{{ i18n "regionalGovernment" }} {{ .name }}</h3>

			{{ with .address }}<p class="p-adr">{{ . }}</p>{{ end }}
			{{ with .telephone }}<p class="p-tel">{{ . }}</p>{{ end }}
			{{ with .email }}<p class="u-email"><a class="value" href="mailto:{{ . }}">{{ . }}</a></p>{{ end }}
			{{ with .site }}<p class="u-url"><a class="value" href="{{ . }}">{{ . }}</a></p>{{ end }}
		</section>

		<section class="sub-mayor">
			<h2>{{ i18n "subMayorSetenceCase" }}</h2>

			<p>Lorem Ipsum</p>
		</section>

		<section class="districts map-container">
			<h2>{{ i18n "relevantDistrictsSentenceCase" }}</h2>
			<ul class="district-list">
				{{ range .regions }}
					<li>
						{{ with .slug }}
							<a href="/prefeituras-regionais/{{ . }}">
						{{ end }}
							{{ .name }}
						{{ with .slug }}
							</a>
						{{ end }}
					</li>
				{{ end }}
			</ul>
		</section>

	</aside>

</article>

{{ end }}

{{ partial "microtemplates/infoPanelRegions.html" . }}

{{ partial "footer.html" . }}
