{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/goals.json" as="fetch" type="application/json">
` }}{{ $.Scratch.Add "rootClass" "goals-page" }}{{ partial "header.html" . }}
<main id="conteudo" class="h-feed">
	<h1 class="h-feed__p-name p-name">{{ .Title }}</h1>
	{{ with .Content }}
		<article>
			{{ . }}
		</article>
	{{ end }}

	{{ $goals := getJSON "./static/dist/data/goals.json" }}

	{{ with $goals.goals }}
		<section class="goals-list">
			<p class="h-feed__p-summary p-summary"><b>{{ len . }}</b> {{ i18n "goal" (len .) }}.</p>
			<p>{{ i18n "displaying" }} <b id="js-filterable__counter">{{ len . }}</b> {{ i18n "of" | lower }} <b>{{ len . }}</b> {{ i18n "goal" (len .) | lower }}.</p>

			{{ partialCached "filterForm.html" . }}

			<div class="h-feed__h-entry-wrapper">
				{{ range sort . "id" "asc" }}
					<article class="h-feed__h-entry h-entry js-filterable__item filterable__item" id="goal-{{ .id }}">
						<div class="h-entry__e-content e-content">
							<h2 class="h-entry__p-name p-name">
								<a href="/metas/{{ .slug }}">
									{{ i18n "goal" 1 }} <strong class="id">{{ .id }}</strong>
								</a>
							</h2>
							<p>{{ .title }}</p>
							{{ with .topic }}
								<footer>
									{{ i18n "topic" 1 }}: <a href='/eixos/{{ .slug }}'>{{ .name }}</a>
								</footer>
							{{ end }}
						</div>
						{{ with .projects }}
							<aside>
								<h3>{{ i18n "relatedProject" (len .) }}</h3>
								<ul class="projects-list">
									{{ range sort . "id" "asc"}}
										<li>
											<a href="/projetos/{{ .slug }}">
												<b>{{ .id }}</b> {{ .title }}</a>
											</li>
									{{ end }}
								</ul>
							</aside>
						{{ end }}
					</article>
				{{ end }}
			</div>
		</section>
	{{ end }}
</main>

{{ partialCached "footer.html" . }}
