{{ partial "header.html" . }}
<main id="conteudo" class="h-feed">
	<h1 class="h-feed__p-name p-name">{{ .Title }}</h1>
	{{ with .Content }}
		<article>
			{{ . }}
		</article>
	{{ end }}

	{{ $goals := getJSON "./static/dist/data/goals.json" }}

	{{ with $goals.goals }}
		<section>
			<p class="h-feed__p-summary p-summary"><b>{{ len . }}</b> {{ i18n "goalLowerCase" (len .) }}.</p>
			{{ range sort . "id" "asc" }}
				<article class="h-feed__h-entry h-entry" id="goal-{{ .id }}">
					<div class="h-entry__e-content e-content">
						<h2 class="h-entry__p-name p-name">
							<a href="/metas/{{ .slug }}">
								{{ i18n "goalTitleCase" }} <strong class="id">{{ .id }}</strong>
							</a>
						</h2>
						<p>{{ .title }}</p>
						{{ with .topic }}
							<footer>
								{{ i18n "topicTitleCase" 1 }}: <a href='/eixos/{{ .slug }}'>{{ .name }}</a>
							</footer>
						{{ end }}
					</div>
					{{ with .projects }}
						<aside>
							<h3>{{ i18n "relatedProjectsSentenceCase" }}</h3>
							<ul>
								{{ range sort . "id" "asc"}}
									<li>
										<a href="/projetos/{{ .slug }}">
											<b>{{ .id }}</b> {{ .title }}</a>
										</li>
								{{ end }}
							</ul>
						</aside>
					{{ end }}
				</article>
			{{ end }}
		</section>
	{{ end }}
</main>

{{ partial "footer.html" . }}
