{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/goal/" .Params.id ) }}

{{ $goal := getJSON $url }}

{{ with $goal.goal }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			{{ if .badges }}
				<div class="badges">
					{{ range .badges }}
						<span data-tooltip="{{ .name }}">
							<img
								src="/assets/img/goal-badge-{{- .id -}}.png"
								alt="{{ .name }}"
								title="{{ .name }}"
							>
						</span>
					{{ end }}
				</div>
			{{ end }}
			<h2>
				{{ i18n "goal" 1 | lower }}
				{{ .id }}
			</h2>
			<h3>
				{{ i18n "topic" (len .topics) }}
				{{ range .topics }}
					{{ .name }}
				{{ end }}
			</h3>
			<h1 class="h-entry__p-name p-name">{{ trim .title "." }}</h1>
		</header>

		<section class="indicator">
			<p>{{ .indicator_description }}</p>
		</section>

		<section class="projection">
			<h2>{{ i18n "goalProjection" }}</h2>
			<dl>
				<div class="definition-item">
					<dt>2017 - 2018</dt>
					<dd>{{ .projection_first_biennium }}</dd>
				</div>
				<div class="definition-item">
					<dt>2019 - 2020</dt>
					<dd>{{ .projection_second_biennium }}</dd>
				</div>
			</dl>
		</section>

		{{ with .additional_information }}
			<section class="togglebox">
				<h2>{{ i18n "aditionalInfo" (len .) }}</h2>

				{{ $mainInfo := index (.) 0 }}

				<div class="togglebox__main-item">
					<div class="togglebox__content">
						<time datetime="{{ $mainInfo.inserted_at }}">
							{{ dateFormat "02/01/2006" $mainInfo.inserted_at }}
						</time>
						<div class="text">
							{{ $mainInfo.description }}
						</div>
					</div>
				</div>
				<div class="togglebox__more-items" hidden>
					{{ range after 1 . }}
						<div class="togglebox__content">
							<time datetime="{{ .inserted_at }}">
								{{ dateFormat "02/01/2006" .inserted_at }}
							</time>
							<div class="text">
								{{ .description }}
							</div>
						</div>
					{{ end }}
				</div>
				<button class="read-more js-togglebox-toggle" data-js="togglebox-button">Ver mais</button>
			</section>
		{{ end }}

		<section class="related-projects">
			<h2>{{ i18n "relatedProject" (len .) }}</h2>

			<dl>
			{{ range .projects }}
				<dt>
					{{ with .project.slug }}
						<a href="/projetos/{{ . }}">
					{{ end }}
						{{ .project.title }}
					{{ with .project.slug }}
						</a>
					{{ end }}
				</dt>
				<dd>{{ .project.description }}</dd>
			{{ end }}
			</dl>
		</section>

		{{ if .execution_subprefectures }}
			<section class="projection">
				<h2>{{ i18n "regionalization" }}</h2>

				<section class="regionalization-progress">
					<header>
						<h2>{{ i18n "regionalPrefecture" 1 }}</h2>
						<h2>{{ i18n "projection" }}</h2>
						<h2>{{ i18n "progress" }}</h2>
						<h2 class="regionalization-progress__years-header">2017 - 2020</h2>
					</header>
					{{ $status := .status }}

					{{ range .execution_subprefectures }}
						<details>
							<summary>
								<span title="Prefeituras Regionais" class="regionalization-progress__region">
									{{ with .subprefecture.slug }}
										<a href="/prefeituras-regionais/{{ . }}">
									{{ end }}
										{{ .subprefecture.name }}
									{{ with .subprefecture.slug }}
										</a>
									{{ end }}
								</span>
								<span title="{{ i18n "progression" }}" class="regionalization-progress__projection">
									{{ if .projection }}
										<i>{{ .projection }}</i>
									{{ else }}
									<i>{{ i18n "notApplicable" }}</i>
									{{ end }}
								</span>
								{{ with .total_progress }}
									<div title="{{ i18n "progress" }}" class="regionalization-progress__progress">
										<progress
											value="{{ . }}"
											max="100">
											<div>
												<span style="width: {{ . }}%;"></span>
											</div>
										</progress>
										{{ . }}%
									</div>
								{{ else }}
								<span title="{{ i18n "progress" }}" class="regionalization-progress__status">{{ $status }}</span>
								{{ end }}
							</summary>
							<table>
								<thead>
									<tr class="regionalization-progress__years">
										<th colspan="2" scope="colgroup">2017</th>
										<th colspan="2" scope="colgroup">2018</th>
										<th colspan="2" scope="colgroup">2019</th>
										<th colspan="2" scope="colgroup">2020</th>
									</tr>
									<tr>
										<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
										<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
									</tr>
								</thead>
								<tr>
									<td title="{{ i18n "firstSemesterAbbr" }} 2017">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2017) (eq (int .semester) 1) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "secondSemesterAbbr" }} 2017">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2017) (eq (int .semester) 2) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "firstSemesterAbbr" }} 2018">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2018) (eq (int .semester) 1) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "secondSemesterAbbr" }} 2018">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2018) (eq (int .semester) 2) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "firstSemesterAbbr" }} 2019">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2019) (eq (int .semester) 1) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "secondSemesterAbbr" }} 2019">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2019) (eq (int .semester) 2) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "firstSemesterAbbr" }} 2020">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2020) (eq (int .semester) 1) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
									<td title="{{ i18n "secondSemesterAbbr" }} 2020">
										{{ range .per_semester }}
											{{ if and (eq (int .year) 2020) (eq (int .semester) 2) }}
												{{ .value }}
											{{ else }}
											 -
											{{ end }}
										{{ end }}
									</td>
								</tr>
							</table>
						</details>
					{{ end }}
				</section>
			</section>
		{{ end }}








	</div>

	<aside>
		<section class="progress">
			{{ with .last_updated_at }}
				<h2>
					{{ i18n "lastUpdatedAt" }}:
					<span class="subtitle">{{ dateFormat "02/01/2006" . }}</span>
				</h2>
			{{ end }}

			{{ with .status }}
				<h2>
					{{ i18n "textStatus" }}:
					<span class="subtitle">{{ . }}</span>
				</h2>
			{{ end }}

			{{ with .execution }}
				<p>{{ i18n "textProgress" }}</p>

				<h2>{{ i18n "execution" }}</h2>

				<!-- Check if all .progress are null -->
				{{ $.Scratch.Set "hasProgressBar" false }}
				{{ range . }}
					{{ with .progress }}
						{{ $.Scratch.Set "hasProgressBar" true }}
					{{ end }}
				{{ end }}

				{{ if $.Scratch.Get "hasProgressBar"  }}
					<div role="progress" aria-valuemin="0" aria-valuemax="100">
						{{ range . }}
							<div
								role="progressbar"
								aria-valuenow="0"
								aria-valuemin="0"
								aria-valuemax="100"
								class="js-progress-hover progress-year-{{- .year }} progress-year--semester-{{- .semester -}}"
								data-more-info="{{ .progress }}% atingido no {{ .semester }}&ordm; semestre de {{ .year }}"
								style="width: {{- .progress -}}%">
							</div>
						{{ end }}
					</div>
					<div class="js-progress-more-info progress__more-info">
						<p></p>
					</div>
				{{ else }}

				{{ range sort . ".year" }}
					{{ with .base_value }}
						<p>{{ i18n "baseValue" }}: {{ . }}</p>
					{{ end }}
					{{ if isset . "accumulated" }}
						<p>
							<strong>
								{{ i18n "accumulated" }} {{ .semester }}º {{ i18n "semesterAbbr" }} {{ .year }}:
							</strong>
							{{ .value }}
						</p>
					{{ end }}
				{{ end }}

				{{ end }}
			{{ end }}

			{{ if $.Scratch.Get "hasProgressBar"  }}
				<div class="progress-legend">
					<div class="progress-legend__year progress-legend__year--2017">
						<strong>2017</strong>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-first-semester"></span> {{ i18n "first_semester" }}
						</div>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-second-semester"></span> {{ i18n "second_semester" }}
						</div>
					</div>
					<div class="progress-legend__year progress-legend__year--2018">
						<strong>2018</strong>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-first-semester"></span> {{ i18n "first_semester" }}
						</div>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-second-semester"></span> {{ i18n "second_semester" }}
						</div>
					</div>
					<div class="progress-legend__year progress-legend__year--2019">
						<strong>2019</strong>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-first-semester"></span> {{ i18n "first_semester" }}
						</div>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-second-semester"></span> {{ i18n "second_semester" }}
						</div>
					</div>
					<div class="progress-legend__year progress-legend__year--2020">
						<strong>2020</strong>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-first-semester"></span> {{ i18n "first_semester" }}
						</div>
						<div class="progres-legend__line">
							<span class="progres-legend__year--color-second-semester"></span> {{ i18n "second_semester" }}
						</div>
					</div>
				</div>
			{{ end }}
		</section>

		{{ with .secretariats }}
			<section class="secretary">
				{{ range . }}
					<h2>
						{{ i18n "secretary_at" }}:
						<span class="subtitle">{{ .name }}</span>
					</h2>
				{{ end }}
			</section>
		{{ end }}

		<section class="districts">
			<h2>{{ i18n "benefitedSubprefectures" (len .) }}</h2>
			{{ if .subprefectures }}
				<ul class="district-list">
					{{ range .subprefectures }}
						<li>
							{{ with .slug }}
								<a href="/distritos/{{ . }}">
							{{ end }}
								{{ .name }}
							{{ with .slug }}
								</a>
							{{ end }}
						</li>
					{{ end }}
				</ul>
			{{ else }}
				<p class="warning">{{ i18n "dataNotRestrictedToARegion" }}</p>
			{{ end }}
			<div id="map" class="map"
				{{ if .subprefectures }}
					data-to-draw="subprefectures cities"
					data-subprefectures-to-draw="{{ range .subprefectures }}{{ .id }} {{ end }}"
				{{ else }}
					data-to-draw="cities"
					data-zoom="+1"
				{{ end }}
			></div>
		</section>
	</aside>

</article>

{{ end }}

{{ partialCached "footer.html" . }}
