{{ partial "header.html" . }}
{{ $url := (print .Site.Params.domainapi "/api/goal/" .Params.id ) }}

{{ $goal := getJSON $url }}

{{ with $goal.goal }}

<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "goalTitleCase" }}
				<strong class="id">{{ .id }}</strong>
			</h2>
			<h1 class="h-entry__p-name p-name">{{ .title }}</h1>
			<h3>
				<span class="alt">{{ i18n "topicTitleCase" 1 }}</span> {{ .topic.name }}
			</h3>
		</header>

		<section class="indicator">
			<p>{{ .indicator_description }}</p>
		</section>

		<section class="projection">
			<h2>{{ i18n "projectionSentenceCase" }}</h2>
			<dl>
				<dt>{{ i18n "year17_18" }}</dt>
				<dd>{{ .first_biennium }}</dd>

				<dt>{{ i18n "year19_20" }}</dt>
				<dd>{{ .second_biennium }}</dd>
			</dl>
		</section>

		<section class="related-projects">
			<h2>{{ i18n "relatedProjectsSentenceCase" }}</h2>

			<dl>
			{{ range .projects }}
				<dt>
					{{ with .project.slug }}
						<a href="/projects/{{ . }}">
					{{ end }}
						{{ .project.title }}
					{{ with .project.slug }}
						</a>
					{{ end }}
				</dt>
				<dd>{{ .project.description }}</dd>
			{{ end }}
			</dl>
		</section>

	</div>

	<aside>
		<section class="progress">
			<p>{{ i18n "textProgressSentenceCase" }}</p>

			<progress {{ with .progress }}value="{{ . }}"{{ end }} max="100">
				<div class="progress-bar">
					<span {{ with .progress }} style="width: {{ . }}%;" {{ end }}>
						{{ with .progress }}{{ . }}%{{ end }}
					</span>
				</div>
			</progress>
		</section>


		<section class="districts map-container">
			<h2>{{ i18n "districtsBenefitedSentenceCase" }}</h2>
			<ul>

				{{ range .regions }}
					<li>
						{{ with .slug }}
							<a href="/distritos/{{ . }}">
						{{ end }}
							{{ .name }}
						{{ with .slug }}
							</a>
						{{ end }}
					</li>
				{{ end }}

			</ul>
			<div id="map" class="map" {{ with .regions }}data-district="{{ range . }}{{ .id }} {{ end }}"{{ end }}></div>
		</section>
	</aside>

</article>

{{ end }}

{{ partial "footer.html" . }}
