<article class="post" id="{{ .Section }}-{{ .Params.id }}">
	<h2>
		<a href="{{ .Permalink }}">
			{{ i18n "goalTitleCase" }} {{ .Params.id }}
		</a>
	</h2>
	{{ .Title }}
	{{ $goals := getJSON "./static/dist/js/goals.json" }}
	{{ $currentGoal := .Params.id }}
<!--
<pre>
.Params.id: {{ .Params.id }}
</pre>
<pre>
$goals.goals: {{ $goals.goals }}
</pre>
 -->
	{{ range where $goals.goals "id" $currentGoal }}
		<pre>
		debug:
			.id: {{ .id }}
			$currentGoal: {{ $currentGoal }}
		</pre>
		{{ if eq ".id" "1" }}
			foo 1
		{{ end }}
		{{ if eq "id" "1" }}
			foo 2
		{{ end }}
		{{ if eq .id "1" }}
			foo 3
		{{ end }}
		{{ if eq "id" 1 }}
			foo 4
		{{ end }}

		{{ with .topic }}
			<footer>
				<a href='/eixos/{{ .name | urlize }}'>
					{{ .id }} {{ .name }}
				</a>
			</footer>
		{{ end }}
		{{ with .goal_projects }}
			<aside>
				<h3>{{ i18n "relatedProjectsSentenceCase" }}</h3>
				<ul>
					{{ range . }}
						<li><a href="/projetos/{{ .project.title | urlize }}">{{ .project.id }} {{ .project.title }}</a></li>
					{{ end }}
				</ul>
			</aside>
		{{ end }}
	{{ end }}
</article>

