{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/dist/data/regions.json" as="fetch" type="application/json">
` }}{{ $.Scratch.Add "rootClass" "regions-page" }}{{ partial "header.html" . }}
<article id="conteudo" role="main">
	<header>
		<h1>
			{{ i18n "districtsSentenceCase" }}
		</h1>
	</header>

	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}

	{{ $regions := getJSON "./static/dist/data/regions.json" }}

	{{ with $regions.regions }}
		<section class="regions">
			<p><b>{{ len . }}</b> {{ i18n "districtsLowerCase" }}.</p>
			<ul class="regions__list">
				{{ range sort . "name" "asc" }}
					<li id="region-{{ .id }}" class="regions__list-item">
						<a href="/distritos/{{ .slug }}" class="regions__list-title">
							{{ .name }}
						</a>
						{{ with .subprefecture }}
							<small>
								({{ i18n "subPrefectureTitleCase" }}:
									{{ with .slug }}<a href="/prefeituras-regionais/{{ . }}">{{ end }}
										<strong>{{ .name }}</strong>{{ with .slug }}</a>{{ end }})
							</small>
						{{ end }}
					</li>
				{{ end }}
			</ul>
			<div id="map" data-to-draw="regions" data-info-panel-for="regions" data-link-for="regions" data-zoom="+1"></div>
		</section>
	{{ end }}
</article>

{{ partial "footer.html" . }}
