{{ $.Scratch.Add "scriptsHeader" `
` }}{{ partial "header.html" . }}
<main id="conteudo" class="h-entry">



<link rel="preload" href="/dist/data/regions.json" as="fetch" type="application/json">
	<header>

		<h1>
			{{ i18n "districtsSentenceCase" }}
		</h1>

	</header>

	{{ with .Content }}
		<section>
			{{ . }}
		</section>
	{{ end }}

	{{ $regions := getJSON "./static/dist/data/regions.json" }}



		<section>
	{{ with $regions.regions }}
			<p><b>{{ len . }}</b> {{ i18n "districtsLowerCase" }}.</p>
			<table>
				<tr>
					<th>{{ i18n "districtTitleCase" }}</th>
					<th>{{ i18n "subPrefectureTitleCase" }}</th>
				</tr>
				{{ range sort . "name" "asc" }}
					<tr id="district-{{ .id }}">
						<th>
							<a href="/distritos/{{ .slug }}">
								{{ .name }}
							</a>
						</th>
						<td>
							{{ .subprefecture.name }}
						</td>

					</tr>
				{{ end }}
			</table>
		</section>
	{{ end }}

	<div id="map" data-to-draw="regions" data-info-panel-for="regions" data-link-for="regions" data-zoom="+1"></div>

</main>

{{ partial "footer.html" . }}
