{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/assets/data/variable.json" as="fetch" type="application/json">
` }}{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/region/" .Params.id ) }}

{{ $region := getJSON $url }}

{{ with $region.region }}

{{ $currentDistrict := .name }}
<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "district" 1 }}
			</h2>
			<h1>
				{{ .name }}
			</h1>
		</header>

		<section class="district map-container">
			<div id="map" class="map" data-to-draw="regions" data-regions-to-draw="{{ .id }}"></div>
		</section>

		{{ with .variables }}
			<script type="text/tempalte" id="js-districts-comparison__field-template">
				<small class="districts-comparison__year">({{ i18n "in" | lower }} <b data-to-bind="year"></b>)</small>
				<small class="districts-comparison__source" tabindex="-1">({{ i18n "via" | lower }} <b data-to-bind="source"></b>)</small>
			</script>

			{{ $regions := getJSON "./static/assets/data/regions.json" }}
			<section class="IOTA-indicators">
				<h3>{{ i18n "variable" (len .) | title }}</h3>
				<p>{{ i18n "introIOTA" | markdownify }}</p>
				<table>
					<thead>
						<th>{{ i18n "variable" 1 | title }}</th>
						<td>{{ $currentDistrict }}</td>
						{{ with $regions.regions }}
							<td class="js-only districts-comparison__field-wrapper">
								{{ i18n "compareTo" }}
								<select id="js-districts-comparison__field" name="district-to-compare-to" class="districts-comparison__field">
									<option></option>
								{{ range sort . "name" "asc" }}
									{{ if ne .name $currentDistrict }}
										<option value="{{ .id }}">{{ .name }}</option>
									{{ else }}
										<option disabled value="{{ .id }}">{{ .name }}</option>
									{{ end }}
								{{ end }}
								</select>
							</td>
						{{ end }}
					</thead>
					<tbody id="js-districts-comparison__table" class="districts-comparison__table">
					{{ range . }}
						<tr id="IOTA-indicators__{{ .id }}">
							<th>{{ .name | replaceRE "^(?:Número )*(?:[Tt]otal )*d[ea] " "" | humanize }}</th>
							<td title="{{ $currentDistrict }}">
								{{ strings.TrimSuffix ".00" .value }}
								<small class="districts-comparison__year">({{ i18n "in" | lower }} <b>{{ .year }}</b>)</small>
								<small class="districts-comparison__source" tabindex="-1">({{ i18n "via" | lower }} <b>{{ .source }}</b>)</small>
							</td>
							{{ if $regions.regions }}
								<td title="" class="js-only js-districts-comparison__value" data-to-bind="{{ .id }}"></td>
							{{ end }}
						</tr>
					{{ end }}
					</tbody>
				</table>
			</section>
		{{ end }}
	</div>

	<aside>
		<section class="sub-prefecture">
			<h2>{{ i18n "regionalPrefectureFile" }}</h2>
			<h3>{{ i18n "regionalPrefecture" 1 }} {{ .name }}</h3>

			{{ with .subprefecture }}

				{{ with .address }}
					<p>{{ . }}</p>
				{{ end }}

				{{ with .email }}
					<p><a href="mailto:{{ . }}">E-mail</a></p>
				{{ end }}

				{{ with .site }}
					<p><a href="{{ . }}">Website</a></p>
				{{ end }}

			{{ end }}

			{{ with .region_variables }}
			<table>
				{{ range . }}
					<tr>
						<th>
							{{ .variable.name }}
						</th>
						<td>
							{{ .value }}
						</td>
					</tr>
				{{ end }}
			</table>
			{{ end }}
		</section>
	</aside>

</article>

{{ end }}

{{ partialCached "footer.html" . }}
