{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" href="/assets/data/variable.json" as="fetch" type="application/json">
` }}{{ partial "header.html" . }}
{{ $url := (print (index .Site.Params.domainapi (getenv "NODE_ENV") | default .Site.Params.domainapi.dev) "/api/region/" .Params.id ) }}

{{ $region := getJSON $url }}

{{ with $region.region }}

{{ $currentDistrict := .name }}
<article role="main" id="conteudo" class="h-entry">
	<div class="h-entry__e-content e-content">
		<header>
			<h2>
				{{ i18n "district" 1 }}
			</h2>
			<h1>
				{{ .name }}
			</h1>
		</header>

		<section class="district map-container">
			<div id="map" class="map" data-to-draw="regions" data-regions-to-draw="{{ .id }}"></div>
		</section>

		<section class="regionalization-progress">
			<header>
				<h2>{{ i18n "regionalPrefecture" 1 }}</h2>
				<h2>{{ i18n "projection" }}</h2>
				<h2>{{ i18n "progress" }}</h2>
				<h2 class="regionalization-progress__years-header">2017 - 2020</h2>
			</header>
			<details>
				<summary>
					<span title="Prefeituras Regionais" class="regionalization-progress__region">Tatuapé</span>
					<span title="Projeção" class="regionalization-progress__projection"><i>4</i></span>
					<div title="Progresso" class="regionalization-progress__progress">
						<progress
							value="80"
							max="100">
							<div>
								<span style="width: 80%;"></span>
							</div>
						</progress>
						80%
					</div>
				</summary>
				<table>
					<thead>
						<tr class="regionalization-progress__years">
							<th colspan="2" scope="colgroup">2017</th>
							<th colspan="2" scope="colgroup">2018</th>
							<th colspan="2" scope="colgroup">2019</th>
							<th colspan="2" scope="colgroup">2020</th>
						</tr>
						<tr>
							<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "firstSemesterAbbr" }}</th>
							<th scope="col">{{ i18n "secondSemesterAbbr" }}</th>
						</tr>
					</thead>
					<tr>
						<td title="{{ i18n "firstSemesterAbbr" }} 2017">01</td>
						<td title="{{ i18n "secondSemesterAbbr" }} 2017">01</td>
						<td title="{{ i18n "firstSemesterAbbr" }} 2018">-</td>
						<td title="{{ i18n "secondSemesterAbbr" }} 2018">-</td>
						<td title="{{ i18n "firstSemesterAbbr" }} 2019">02</td>
						<td title="{{ i18n "secondSemesterAbbr" }} 2019">01</td>
						<td title="{{ i18n "firstSemesterAbbr" }} 2020">01</td>
						<td title="{{ i18n "secondSemesterAbbr" }} 2020">01</td>
					</tr>
				</table>
				</table>
			</details>
		</section>

		{{ with .indicators }}
			<script type="text/template" id="js-districts-comparison__field-template">
				<a></a>
				<small class="districts-comparison__year">({{ i18n "in" | lower }} <b data-to-bind="year"></b>)</small>
				<small class="districts-comparison__source" tabindex="-1">({{ i18n "via" | lower }} <span data-to-bind="source"></span>)</small>
			</script>

			{{ $regions := getJSON "./static/assets/data/regions.json" }}
			<section class="IOTA-indicators">
				<h3>{{ i18n "variable" (len .) | title }}</h3>
				<p>{{ i18n "introIOTA" | markdownify }}</p>
				<table>
					<thead>
						<th>{{ i18n "variable" 1 | title }}</th>
						<td>{{ $currentDistrict }}</td>
						{{ with $regions.regions }}
							<td class="js-only districts-comparison__field-wrapper">
								{{ i18n "compareTo" }}
								<select id="js-districts-comparison__field" name="district-to-compare-to" class="districts-comparison__field">
									<option></option>
								{{ range sort . "name" "asc" }}
									{{ if ne .name $currentDistrict }}
										<option value="{{ .id }}">{{ .name }}</option>
									{{ else }}
										<option disabled value="{{ .id }}">{{ .name }}</option>
									{{ end }}
								{{ end }}
								</select>
							</td>
						{{ end }}
					</thead>
					<tbody id="js-districts-comparison__table" class="districts-comparison__table">
					{{ range sort . "name" "asc" }}
						<tr id="IOTA-indicators__{{ .id }}">
							<th class="districts-comparison__indicator">
								{{ .name | humanize }}
								{{ if or .explanation .formula }}
								<small tabindex="-1">
									({{ i18n "description" | lower }}:
										<span>
											<p>{{ .explanation | markdownify }}</p>

											{{ with .formula }}<p>{{ i18n "formula" }}: {{ . }}</p>{{ end }}
										</span>
									)
									</small>
								{{ end }}
							</th>
							<td title="{{ $currentDistrict }}">
								{{ with .url_observatorio }}<a href="{{ . }}">{{ end }}
									{{ float .value }}
								{{ with .url_observatorio }}</a>{{ end }}

								<small class="districts-comparison__year">({{ i18n "in" | lower }} <b>{{ .year }}</b>)</small>
								{{ with .sources }}
									<small class="districts-comparison__source" tabindex="-1">
										({{ i18n "via" | lower }}
										<span>
											{{ range $i, $source := . }}
												{{ if $i }}, {{ end }}{{ . }}
											{{ end }}
										</span>
										)
									</small>
								{{ end }}
							</td>
							{{ if $regions.regions }}
								<td title="" class="js-only js-districts-comparison__value" data-to-bind="{{ .id }}"></td>
							{{ end }}
						</tr>
					{{ end }}
					</tbody>
				</table>
			</section>
		{{ end }}
	</div>

	<aside>
		<section class="sub-prefecture">
			<h2>{{ i18n "regionalPrefectureFile" }}</h2>
			<h3>{{ i18n "regionalPrefecture" 1 }} {{ .name }}</h3>

			{{ with .subprefecture }}

				{{ with .address }}
					<p>{{ . }}</p>
				{{ end }}

				{{ with .email }}
					<p><a href="mailto:{{ . }}">E-mail</a></p>
				{{ end }}

				{{ with .site }}
					<p><a href="{{ . }}">Website</a></p>
				{{ end }}

			{{ end }}

			{{ with .region_variables }}
			<table>
				{{ range . }}
					<tr>
						<th>
							{{ .variable.name }}
						</th>
						<td>
							{{ .value }}
						</td>
					</tr>
				{{ end }}
			</table>
			{{ end }}
		</section>
	</aside>

</article>

{{ end }}

{{ partialCached "footer.html" . }}
