{{ partial "header.html" . }}
<main>
	{{ with .Content }}
		<article>
			{{ . }}
		</article>
	{{ end }}

	{{ $goals := getJSON "./static/dist/js/goals.json" }}

	{{ with $goals.goals }}
		<section class="article-list">
			{{ range sort . "id" "asc" }}
				<article class="post" id="{{ .Section }}-{{ .id }}">
					<h2>
						<a href="/metas/{{ .title | urlize }}">
							{{ i18n "goalTitleCase" }} {{ .id }}
						</a>
					</h2>
					{{ .title }}
					{{ with .topic }}
						<footer>
							<a href='/eixos/{{ .name | urlize }}'>
								{{ i18n "topicTitleCase" }} {{ .name }}
							</a>
						</footer>
					{{ end }}
					{{ with .goal_projects }}
						<aside>
							<h3>{{ i18n "relatedProjectsSentenceCase" }}</h3>
							<ul>
								{{ range sort .  "id" "asc"}}
									<li><a href="/projetos/{{ .project.title | urlize }}">{{ .project.id }} {{ .project.title }}</a></li>
								{{ end }}
							</ul>
						</aside>
					{{ end }}
				</article>
			{{ end }}
		</section>
	{{ end }}
</main>

{{ partial "footer.html" . }}
