{{ partial "header.html" . }}
<main id="conteudo">
	{{ with .Content }}
		<article>
			{{ . }}
		</article>
	{{ end }}

	{{ $goals := getJSON "./static/dist/js/goals.json" }}

	{{ with $goals.goals }}
		<section class="h-feed">
			<p><b>{{ len . }}</b> {{ i18n "goalsLowerCase" }}.</p>
			{{ range sort . "id" "asc" }}
				<article class="h-entry" id="goal-{{ .id }}">
					<h2>
						<a href="/metas/{{ .slug }}">
							{{ i18n "goalTitleCase" }} {{ .id }}
						</a>
					</h2>
					{{ .title }}
					{{ with .topic }}
						<footer>
							<a href='/eixos/{{ .slug }}'>
								{{ i18n "topicTitleCase" }} {{ .name }}
							</a>
						</footer>
					{{ end }}
					{{ with .goal_projects }}
						<aside>
							<h3>{{ i18n "relatedProjectsSentenceCase" }}</h3>
							<ul>
								{{ range sort .  "id" "asc"}}
									<li><a href="/projetos/{{ .project.slug }}">{{ .project.id }} {{ .project.title }}</a></li>
								{{ end }}
							</ul>
						</aside>
					{{ end }}
				</article>
			{{ end }}
		</section>
	{{ end }}
</main>

{{ partial "footer.html" . }}
