{{ partial "header.html" . }}
<main id="conteudo">
	{{ with .Content }}
		<article>
			{{ . }}
		</article>
	{{ end }}

	{{ $projects := getJSON "./static/dist/js/projects.json" }}

	{{ with $projects.projects }}
		<section class="h-feed">
			<p><b>{{ len . }}</b> {{ i18n "projectsLowerCase" }}.</p>
			{{ range sort . "id" "asc" }}
				<article class="h-entry" id="project-{{ .id }}">
					<h2>
						<a href="/projetos/{{ .slug }}">
							{{ .id }}. {{ .title }}
						</a>
					</h2>
					{{ with .description }}
						<p>{{ . }}</p>
					{{ end }}
					{{ with .topics }}
						<footer>
							<ul>
								{{ range . }}
								<li>
									<a href='/eixos/{{ .slug }}'>
										{{ i18n "topicTitleCase" }} {{ .name }}
									</a>
								</li>
								{{ end }}
							</ul>
						</footer>
					{{ end }}
				</article>
			{{ end }}
		</section>
	{{ end }}
</main>

{{ partial "footer.html" . }}
